Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

fix: typo
  scripts/sign.sh
Due: build-aar, build-final

155.0
  CHANGELOG.md
  scripts/versions.sh
Due: build-aar, build-final

fix - CI: ensure `bundle` is recognized as an architecture for downloading artifacts
  scripts/ci-download-artifacts-if.sh
Due: build-aar, build-final

fix: modify `CHANGELOG.md` to ensure release CI flow is properly triggered
  CHANGELOG.md
Due: none

feat: bump uv to `0.12.9` + cpython to `20260901`
  scripts/versions.sh
Due: build-aar, build-final

155.0.1
  scripts/versions.sh
Due: build-aar, build-final

155.0.1 - changelog
  CHANGELOG.md
Due: none

feat: bump uv to `0.12.11`
  scripts/versions.sh
Due: build-aar, build-final

feat - CI: add `IRONFOX_FEDORA_VERSION` env var to specify the version of Fedora (to avoid unnecessary duplication/redundancy)
  .gitlab-ci.yml
Due: build-aar, build-final

fix: clean-up + update `.gitattributes` + `.gitignore`
  .gitattributes
  .gitignore
Due: none

feat: add `dnsforge.de` to list of built-in DoH providers (as they meet the criteria: https://codeberg.org/celenity/Phoenix/wiki/info-doh-criteria)
  patches/fenix-configure-doh-providers.patch
  patches/gecko-overlay/ironfox/android/core/src/main/java/org/ironfoxoss/core/IFDohProviders.kt
  patches/gecko-overlay/ironfox/utils/GeckoSettingsBridge.sys.mjs
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

feat: bump uv to `0.12.12`
  scripts/versions.sh
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-ar/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-bg/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-da/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-es/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-it/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ko/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-nl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-sr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tok/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-uk/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-vi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rTW/ironfox_strings.xml
  patches/gecko-overlay/ironfox/locales/cs/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/da/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/de/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/es/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/et/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/fi/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/fr/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/it/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/ko/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/nl/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/pl/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/pt-BR/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/ru/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/uk/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/zh-Hans/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/zh-Hant/ironfox/ironfox.ftl
Due: build-aar, build-final

feat: organize/clean-up `ironfox.cfg`
  configs/phoenix/ironfox.cfg
Due: none

feat: Prevent GeckoView from attempting to use Google Play Services (or the OEM) to retrieve geolocation if the Android system geolocation provider is enabled
  patches/geckoview-disable-gms-geolocation.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

feat: Add UI settings to enable/disable the Android Geolocation Provider and the Network Geolocation Provider
  configs/phoenix/ironfox.cfg
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/xml/ironfox_preferences.xml
  patches/gecko-ironfox-settings-support-geolocation-provider.patch
  patches/gecko-overlay/ironfox/android/core/src/main/res/values/strings.xml
  patches/gecko-overlay/ironfox/utils/GeckoSettingsBridge.sys.mjs
  patches/geckoview-ironfox-settings-support-geolocation-provider.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

feat: Use different versioning for Nightly
  scripts/build-if.sh
  scripts/env_ci.sh
  scripts/env_common.sh
  scripts/prebuild-if.sh
Due: build-aar, build-final

feat: Create a universal updates.json for Nightly releases (ex. to be used with Obtainium)
  .gitlab-ci.yml
  scripts/ci-download-artifacts-if.sh
  scripts/ci-publish-packages.sh
  scripts/ci-publish-release.sh
  scripts/env_common.sh
  scripts/s3-utilities.sh
  templates/updates-nightly.json
Due: build-aar, build-final

feat: bump uv to `0.12.13`
  scripts/versions.sh
Due: build-aar, build-final

fix: typo
  scripts/ci-download-artifacts-if.sh
Due: build-aar, build-final

fix: Firefox SHA512sum
  scripts/versions.sh
Due: build-aar, build-final

feat - Part 3: Add IronFox Nightly to F-Droid repo
  .gitlab-ci.yml
  scripts/ci-update-fdroid-repo.sh
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

feat - Part 2: Create IronFox Nightly RSS feed
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix: name for APKs at `ci-publish-packages.sh`
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

feat: bump uv to `0.12.15`
  scripts/versions.sh
Due: build-aar, build-final

fix: APK name at `ci-publish-packages.sh` (Part 2)
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

156.0
  CHANGELOG.md
  scripts/versions.sh
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_onboarding_strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-cs/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-et/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-ko/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-pl/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-pt-rBR/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-zh-rCN/strings.xml
Due: build-aar, build-final

fix: typo
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix: ensure we use `IRONFOX_RELEASE` to determine publish target at `ci-publish-release.sh` + clean-up/refine `ci-update-site.sh`
  scripts/ci-publish-release.sh
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix: ensure release rss xml doesn't already exist (and properly create it)
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - CI: ensure rss dir exists
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix: update `gecko-disable-nimbus.patch` (Ensures `ExperimentAPI.ready()` doesn't try to wait indefinitely, to improve performance and prevent hangs)
  patches/gecko-disable-nimbus.patch
Due: build-aar, build-final

fix: replace Firefox/kit branding on network error pages
  README.md
  patches/gecko-ironfox-branding.patch
  patches/gecko-overlay/ironfox/themes/global/jar.mn
  patches/gecko-overlay/ironfox/themes/global/warning.svg
Due: build-aar, build-final

feat - CI: add logic for F-Droid repo so we can determine whether we're currently updating Release or Nightly
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

feat: bump uv to `0.12.17`
  scripts/versions.sh
Due: build-aar, build-final

feat - CI: add logic for website so we can determine whether we're currently updating Release or Nightly
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final
