Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    BUNDLETOOL: 1.18.0
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

ci: disable workflow in forks
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: disable build/update jobs instead of whole workflow
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: disable build_docker job for external repos
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: Set `geo.prompt.testing` + `notification.prompt.testing` to `false` to re-enable geolocation + notification permission prompts in GeckoView
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

fix: make 'Enable UnifiedPush' translatable
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
Due: build-apk, build-bundle

fix: Rename `librewolf-rs-blocker.patch` to `gecko-rs-blocker.patch`
  README.md
  patches/gecko-rs-blocker.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Update `disable-network-connectivity-monitoring.patch`
  patches/disable-network-connectivity-monitoring.patch
Due: build-apk, build-bundle

feat: Expose the UI to enable/disable Cookie Banner Blocking per-site in standard browsing windows (Currently only visible in private) - and ensure we can fetch cookie banner rules remotely
  patches/block-cookie-banners.patch
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

v141.0.2
  scripts/versions.sh
Due: build-apk, build-bundle

fix: App Services branch
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Take back control of `privacy.baselineFingerprintingProtection` and `privacy.baselineFingerprintingProtection.overrides`
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Minor formatting
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
Due: build-apk, build-bundle

feat: Update Phoenix to 2025.08.06.1 - https://codeberg.org/celenity/Phoenix/releases/tag/2025.08.06.1
  patches/fenix-ironfox-settings.patch
  patches/gecko-ironfox-settings.patch
  patches/ironfox-onboarding.patch
  patches/preferences/ironfox.js
  scripts/versions.sh
Due: build-apk, build-bundle

v141.0.3
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Enable `about:inference`
  patches/gecko-enable-aboutinference.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

IronFox v141.0.3
  .gitlab-ci.yml
  README.md
  docs/Features.md
  patches/block-cookie-banners.patch
  patches/disable-network-connectivity-monitoring.patch
  patches/enable-secure-storage.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/gecko-ironfox-settings.patch
  patches/gecko-rs-blocker.patch
  patches/ironfox-onboarding.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
  scripts/prebuild.sh
  scripts/versions.sh
Due: update-site-repo, build-apk, build-bundle

fix: Update `Licensing` + `Notices` sections on `README`
  README.md
Due: none

fix: update update-fdroid-repo job to conform to new repo structure
  .gitlab-ci.yml
  scripts/ci-update-fdroid.sh
Due: build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
