Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    IF_CI_NAME: IronFox CI
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

fix: Remove no longer necessary elements from certain patches (These UI elements are now enabled by default via Nimbus)
  patches/fenix-disable-history-and-recent-search-suggestions-by-default.patch
  patches/fenix-disable-trending-search-suggestions-by-default.patch
  patches/fenix-expose-secret-settings.patch
Due: build-apk, build-bundle

feat: Remove unused/unwanted `Regions` Remote Settings dump
  patches/a-s-remove-regions-dump.patch
  scripts/a-s-patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

feat: Configure certain uBlock Origin settings by default
  patches/gecko-configure-ublock-origin.patch
  patches/gecko-custom-ublock-origin-assets.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Remove duplicate lines from `build.sh`
  scripts/build.sh
Due: build-apk, build-bundle

feat: Enable WASM Branch Hinting + Memory Control at build-time
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Enable WebGL for `mapcomplete.org` by default - fixes https://codeberg.org/ironfox-oss/IronFox/issues/90
  patches/gecko-overlay/mobile/android/branding/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
Due: build-apk, build-bundle

fix: order
  patches/fenix-ironfox-settings.patch
Due: build-apk, build-bundle

fix: Ensure media autoplay is always/only controlled by the UI/permission prompt
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

feat: Add UI setting to control the media autoplay blocking policy
  patches/a-c-ironfox-settings-support-cross-origin-referer-policy.patch
  patches/a-c-ironfox-settings.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/geckoview-ironfox-settings.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix(builder): ensure cmd output panels are automatically removed
  builder/src/common/subproc.py
Due: none

fix(builder): specify --verbose to mach commands in verbose mode
  builder/src/steps/build/__init__.py
Due: none

fix(builder): add logs when applying patches
  builder/src/execution/patch.py
Due: none

WIP: v145.0
  patches/a-c-disable-crash-reporting.patch
  patches/a-c-do-not-unconditionally-allow-builtin-addons-to-access-private-browsing.patch
  patches/a-c-ironfox-settings.patch
  patches/a-c-localize-maven.patch
  patches/a-c-remove-nimbus.patch
  patches/a-c-unifiedpush.patch
  patches/fenix-block-cookie-banners-in-pb-by-default-and-expose-ui.patch
  patches/fenix-configure-doh.patch
  patches/fenix-default-site-permissions.patch
  patches/fenix-disable-autocomplete-by-default.patch
  patches/fenix-disable-contile.patch
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-firefox-suggest.patch
  patches/fenix-disable-history-and-recent-search-suggestions-by-default.patch
  patches/fenix-disable-link-sharing.patch
  patches/fenix-disable-microsurveys.patch
  patches/fenix-disable-nags.patch
  patches/fenix-disable-nimbus.patch
  patches/fenix-disable-password-mgr-and-autofill-by-default.patch
  patches/fenix-disable-remote-search-configuration.patch
  patches/fenix-disable-search-suggestions-by-default.patch
  patches/fenix-disable-sync-engines-by-default.patch
  patches/fenix-disable-telemetry.patch
  patches/gecko-ironfox-settings-support-webgl.patch
  patches/gecko-overlay/toolkit/components/resistfingerprinting/RFPTargetsDefault.inc
  patches/preferences/ironfox.js
  scripts/patches.yaml
  scripts/prebuild.sh
  scripts/versions.sh
Due: update-site-repo, build-apk, build-bundle

fix: Enable WebGL for `nvidia.com` by default - https://codeberg.org/celenity/Phoenix/issues/194#issuecomment-8070236
  patches/gecko-overlay/mobile/android/branding/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
Due: build-apk, build-bundle

feat: Update Phoenix to 2025.11.07.1 - https://codeberg.org/celenity/Phoenix/releases/tag/2025.11.07.1
  patches/preferences/ironfox.js
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Display additional prefs for troubleshooting at `about:support`
  patches/gecko-expose-aboutsupport-prefs.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: `about:translations`
  patches/gecko-enable-abouttranslations.patch
Due: build-apk, build-bundle

fix: very minor syntax/punctuation fix for consistency
  patches/gecko-overlay/mobile/android/ironfox.configure
Due: build-apk, build-bundle

fix(builder): use screen=True for cmd progress
  builder/src/common/subproc.py
Due: none

fix(builder): merge changes for IF v145.0
  builder/src/common/versions.py
  builder/src/steps/prepare/application_services.py
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): remove build error due to space
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): allow per-command configuration for RunCommandsTask
  builder/src/execution/definition.py
  builder/src/execution/run.py
  builder/src/execution/types.py
  builder/src/steps/build/__init__.py
  builder/src/steps/build/wasi_sdk.py
  builder/src/steps/common/java.py
  builder/src/steps/setup/android_sdk.py
  builder/src/steps/setup/rust.py
Due: none

fix(builder): create A-C/local.props if needed
  builder/src/steps/build/__init__.py
Due: none

fix(builder): search telemetry config is not commented-out
  builder/src/steps/prepare/application_services.py
Due: none

fix(builder): rust.targets not specified for application-services
  builder/src/common/paths.py
  builder/src/common/utils.py
  builder/src/steps/build/__init__.py
  builder/src/steps/prepare/__init__.py
  builder/src/steps/prepare/application_services.py
  builder/src/steps/prepare/glean.py
Due: none

fix: incorrect default value for append for write file tasks
  builder/src/execution/definition.py
Due: none

fix: syntax error in fenix/app/build.gradle
  builder/src/steps/prepare/fenix.py
Due: none

v145.0
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Update `glean-noop.patch` to further no-op the Glean Kotlin library and reduce unwanted classes
  patches/glean-noop.patch
Due: build-apk, build-bundle

fix: Bump Bundletool in CI to `1.18.1`, + create log files for `build-apk` and `build-bundle` (since we're unfortunately currently hitting GitLab's job limit)
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: Ensure `logs` directory exists, remove unused `BUNDLETOOL` variable, and bump Android build-tools to `36.0.0` for `ci-build.sh`
  .gitlab-ci.yml
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Remove `glean-native` (+ other minor tweaks to Glean/telemetry)
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
Due: build-apk, build-bundle

v142.0.1
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Ensure `setup-android.sdk.sh` is properly executed
  README.md
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: add back glean-native for now
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
