Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    BUNDLETOOL: 1.18.0
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
Due: build-apk, build-bundle

fix: create parent dirs when writing overlays
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Update uBlock Origin `Block WebGL` list to work-around an upstream bug/bypass - https://gitlab.com/celenityy/BadBlock/-/commit/53a6f40838fe6e77d191373e38358bb7f965eee1
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: none

fix: skip releases when commit messages contain '[skip-release]'
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: Update uBlock Origin `Block WebGL` list to work-around an upstream bug
  .gitlab-ci.yml
  README.md
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
  scripts/ci-update-fdroid.sh
  scripts/prebuild.sh
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: build-apk, build-bundle

ci: update rules for publish-release job
  .gitlab-ci.yml
Due: build-apk, build-bundle

feat: add OLED theme support
  patches/fenix-ironfox-oled-theme.patch
  patches/fenix-ironfox-settings-support-preferred-website-appearance.patch
  patches/fenix-overlay/app/src/main/res/values/ironfox_attrs.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_colors.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_styles.xml
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Add echo commands to `build.sh` to make it clear which commands specifically are being run and when - should allow for easier debugging/testing - and in general, nice to have
  scripts/build.sh
Due: build-apk, build-bundle

fix: Do not waste time/resources building unnecessary/unwanted example/sample libraries
  patches/a-c-localize-maven.patch
  patches/a-c-remove-glean-service.patch
  patches/a-c-remove-webcompat-reporter.patch
  patches/gecko-remove-example-dependencies.patch
  patches/glean-remove-example-dependencies.patch
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

feat: Expose certain build options via the `about:config`
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

fix: Add `a-c-localize-maven.patch` to `patches.yaml`
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Remove unnecessary lines from `fenix-sanitize-data-on-exit-by-default.patch`
  patches/fenix-sanitize-data-on-exit-by-default.patch
Due: build-apk, build-bundle

fix: Update `Block WebGL - Unbreak` (necessary for changes to mitigate the upstream bypass: https://gitlab.com/celenityy/BadBlock/-/commit/53a6f40838fe6e77d191373e38358bb7f965eee1)
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: none

feat: Update uBlock Origin assets.json per latest upstream changes - https://github.com/gorhill/uBlock/commits/master/assets/assets.json
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: none

fix: minor formatting
  patches/fenix-liberate.patch
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
