Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

fix: typo
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: syntax
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Update Phoenix to 2025.09.07.1
  docs/FAQ.md
  docs/Features.md
  docs/Network-Connections.md
  patches/a-c-ironfox-settings.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/geckoview-ironfox-settings.patch
  patches/preferences/ironfox.js
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Update issue template
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/enhancement.md
  .gitlab/issue_templates/other.md
Due: none

fix: add tasks to set up Java and Rust
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/commands/setup.py
  builder/src/common/config.py
  builder/src/common/paths.py
  builder/src/common/versions.py
  builder/src/execution/clone.py
  builder/src/execution/definition.py
  builder/src/execution/download.py
  builder/src/execution/executor.py
  builder/src/execution/extract.py
  builder/src/execution/files.py
  builder/src/execution/overlay.py
  builder/src/execution/patch.py
  builder/src/execution/run.py
  builder/src/execution/sed.py
  builder/src/execution/types.py
  builder/src/steps/prepare/__init__.py
  builder/src/steps/setup/__init__.py
  builder/src/steps/setup/android_sdk.py
  builder/src/steps/setup/java.py
  builder/src/steps/setup/rust.py
Due: none

feat: initial draft for Python-based build system
  builder/.gitignore
  builder/README.md
  builder/builder/__init__.py
  builder/builder/cli.py
  builder/builder/commands/base.py
  builder/builder/commands/build.py
  builder/builder/commands/prepare.py
  builder/builder/commands/setup.py
  builder/builder/common/config.py
  builder/builder/common/git.py
  builder/builder/common/input.py
  builder/builder/common/logging.py
  builder/builder/common/paths.py
  builder/builder/common/utils.py
  builder/builder/common/versions.py
  builder/builder/execution/clone.py
  builder/builder/execution/definition.py
  builder/builder/execution/download.py
  builder/builder/execution/executor.py
  builder/builder/execution/extract.py
  builder/builder/execution/files.py
  builder/builder/execution/patch.py
  builder/builder/execution/run.py
  builder/builder/steps/setup.py
  builder/pyproject.toml
Due: none

feat: add more task definitions and update setup definition
  builder/builder/steps/setup.py
  builder/pyproject.toml
  builder/src/__init__.py
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/commands/build.py
  builder/src/commands/prepare.py
  builder/src/commands/setup.py
  builder/src/common/config.py
  builder/src/common/git.py
  builder/src/common/input.py
  builder/src/common/logging.py
  builder/src/common/paths.py
  builder/src/common/utils.py
  builder/src/common/versions.py
  builder/src/execution/clone.py
  builder/src/execution/definition.py
  builder/src/execution/download.py
  builder/src/execution/executor.py
  builder/src/execution/extract.py
  builder/src/execution/files.py
  builder/src/execution/overlay.py
  builder/src/execution/patch.py
  builder/src/execution/run.py
  builder/src/execution/sed.py
  builder/src/execution/types.py
  builder/src/steps/setup/__init__.py
  builder/src/steps/setup/android_sdk.py
  builder/src/steps/setup/phoenix.py
Due: none

fix: use scoped loggers for logging task output
  builder/src/commands/base.py
  builder/src/common/logging.py
  builder/src/execution/clone.py
  builder/src/execution/definition.py
  builder/src/execution/download.py
  builder/src/execution/executor.py
  builder/src/execution/extract.py
  builder/src/execution/files.py
  builder/src/execution/overlay.py
  builder/src/execution/patch.py
  builder/src/execution/run.py
  builder/src/execution/sed.py
  builder/src/steps/setup/__init__.py
  builder/src/steps/setup/java.py
Due: none

feat: add intial impl for prepare step
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/commands/prepare.py
  builder/src/commands/setup.py
  builder/src/common/paths.py
  builder/src/common/utils.py
  builder/src/execution/definition.py
  builder/src/execution/files.py
  builder/src/execution/find_replace.py
  builder/src/execution/sed.py
  builder/src/execution/types.py
  builder/src/steps/common/java.py
  builder/src/steps/prepare/__init__.py
  builder/src/steps/setup/__init__.py
  builder/src/steps/setup/android_sdk.py
  builder/src/steps/setup/rust.py
Due: none

fix: backwards compatibility for Java version check
  builder/src/execution/run.py
  builder/src/steps/setup/java.py
Due: none

feat: add series file for quilt
  patches/series
Due: build-apk, build-bundle

feat: add initial draft for prebuild.sh migration
  builder/src/commands/base.py
  builder/src/commands/prepare.py
  builder/src/common/utils.py
  builder/src/common/versions.py
  builder/src/execution/definition.py
  builder/src/execution/files.py
  builder/src/execution/find_replace.py
  builder/src/execution/types.py
  builder/src/steps/prepare/__init__.py
  builder/src/steps/prepare/android_components.py
  builder/src/steps/prepare/fenix.py
  builder/src/steps/prepare/glean.py
Due: none

feat: add ability to dry-run tasks
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/commands/prepare.py
  builder/src/commands/setup.py
  builder/src/execution/definition.py
  builder/src/execution/executor.py
  builder/src/steps/prepare/fenix.py
Due: none

feat: add support for dry-run tasks
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/execution/executor.py
Due: none

fix: include a-c and glean prepare tasks
  builder/src/steps/prepare/__init__.py
Due: none

feat: add failure reporting
  builder/src/commands/base.py
  builder/src/execution/executor.py
  builder/src/steps/prepare/fenix.py
  builder/src/steps/prepare/glean.py
Due: none

fix: reduce log verbosity by default
  builder/src/execution/executor.py
  builder/src/execution/files.py
  builder/src/execution/find_replace.py
  builder/src/execution/overlay.py
  builder/src/execution/patch.py
  builder/src/execution/run.py
Due: none

fix: Remove unnecessary Android NDK 28.0.13004108, and specify NDK version with `NDK_REVISION` variable
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle

feat: Update `glean-noop.patch` to further no-op the Glean Kotlin library and reduce unwanted classes
  patches/glean-noop.patch
Due: build-apk, build-bundle

fix: Ensure we're always building for `release` targets
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove `glean-native` (+ other minor tweaks to Glean/telemetry)
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix
  patches/glean-noop.patch
Due: build-apk, build-bundle

fix: add back glean-native for now
  patches/glean-noop.patch
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Reduce Glean dependencies for Android Components and Application Services
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

v142.0.1
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

fix: include variant names in build logs filename
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: Bump Bundletool in CI to `1.18.1`, + create log files for `build-apk` and `build-bundle` (since we're unfortunately currently hitting GitLab's job limit)
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: ensure logs are always uploaded to artifacts
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: Ensure `logs` directory exists, remove unused `BUNDLETOOL` variable, and bump Android build-tools to `36.0.0` for `ci-build.sh`
  .gitlab-ci.yml
  scripts/setup-android-sdk.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Minor clean-up for stubs
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/GleanHelper.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsService.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MarketingAttributionService.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
Due: build-apk, build-bundle

fix: Android script/variables
  README.md
  scripts/ci-build.sh
  scripts/setup-android-sdk.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Ensure `setup-android.sdk.sh` is properly executed
  README.md
  scripts/ci-build.sh
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle

fix: unbound variable 'SDK_REVISION'
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle

ci: redirect all build logs to files; without terminal output
  .gitlab-ci.yml
Due: build-apk, build-bundle

feat: Stub additional marketing/metrics/telemetry components
  patches/a-s-overlay/components/sync_manager/android/src/main/java/mozilla/appservices/syncmanager/SyncTelemetry.kt
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-ironfox-onboarding.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-liberate.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/MetricsServiceHelper.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/ActivationPing.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GrowthDataWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdManager.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/distributions/DistributionMetricsProvider.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/messaging/CustomAttributeProvider.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/MarketingNotificationHelper.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingTelemetryRecorder.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesTelemetryMiddleware.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/AppStartReasonProvider.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ApplicationExitInfoMetrics.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ColdStartupDurationTelemetry.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/StartupTypeTelemetry.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/StorageStatsMetrics.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/Dispatchers.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/Glean.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/debug/GleanDebugActivity.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/net/HttpURLConnectionUploader.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/net/PingUploader.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/scheduler/GleanLifecycleObserver.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/scheduler/MetricsPingScheduler.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/scheduler/PingUploadWorker.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: `setup-android-sdk.sh`
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle
