Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

feat: Create and use our own `FenixSettingsVisibilityManager` for controlling the visibility of UI settings
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-link-sharing.patch
  patches/fenix-disable-microsurveys.patch
  patches/fenix-disable-nimbus.patch
  patches/fenix-disable-remote-search-configuration.patch
  patches/fenix-enable-etp-strict.patch
  patches/fenix-enable-local-network-access-restrictions-by-default.patch
  patches/fenix-expose-secret-settings.patch
  patches/fenix-hide-gpc.patch
  patches/fenix-hide-remote-debugging-and-reset-per-session.patch
  patches/fenix-ironfox-settings-support-xpinstall.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Remove no longer necessary patch to hide/reset Remote Debugging
  patches/fenix-hide-remote-debugging-and-reset-per-session.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Control the EME site setting with `FenixSettingsVisibilityManager` + use separate patches for implementing it in general
  patches/fenix-enable-etp-strict.patch
  patches/fenix-hide-eme.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-secret-settings-visibility.patch
  patches/fenix-site-settings-visibility.patch
  patches/fenix-tracking-protection-settings-visibility.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Improve wallpaper handling
  patches/fenix-local-wallpapers.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixStringsDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperUtils.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
Due: build-apk, build-bundle

fix: Load wallpapers directly as drawable resources (instead of copying them to local storage like we do now)
  patches/fenix-local-wallpapers.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperUtils.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/algae_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/algae_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/algae_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/black_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/black_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/black_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/colorful_bubbles_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/colorful_bubbles_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/colorful_bubbles_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dark_dune_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dark_dune_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dark_dune_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/deep_blue_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/deep_blue_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/deep_blue_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dune_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dune_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/dune_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/firey_red_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/firey_red_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/firey_red_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/pink_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/pink_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/pink_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/red_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/red_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/red_thumbnail.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/white_landscape.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/white_portrait.png
  patches/fenix-overlay/app/src/main/res/drawable-nodpi/white_thumbnail.png
  patches/fenix-overlay/app/src/main/res/raw/wallpapers.json
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
Due: build-apk, build-bundle

fix: set the Safe Browsing API keyfile from `env.mozconfig` directly
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Enable performance optimizations for WebAssembly on ARM64 and x86_64 builds
  patches/gecko-overlay/ironfox/mozconfigs/targets/arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/x86_64.mozconfig
Due: build-apk, build-bundle

fix: Set paths for Rust at `env.mozconfig`
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: add `MOZ_APP_VENDOR`, `MOZ_APP_UA_NAME`, `MOZ_BUILD_APP`, and `--enable-project='mobile/android` to mozconfigs
  patches/gecko-overlay/ironfox/mozconfigs/branding/common.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
  scripts/build.sh
Due: build-apk, build-bundle

fix: Disable ccache
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

fix: set STRIP_FLAGS
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

fix: Enable the autoclobber
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

feat: Use Rust optimization level 3
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

feat: Set various compiler (toolchain) flags
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/x86_64.mozconfig
  scripts/build.sh
Due: build-apk, build-bundle

fix: For consistency, surround variables with {}
  .gitlab-ci.yml
  scripts/bootstrap.sh
  scripts/build.sh
  scripts/ci-build.sh
  scripts/ci-publish-packages.sh
  scripts/ci-update-fdroid.sh
  scripts/ci-update-site.sh
  scripts/deglean.sh
  scripts/env_common.sh
  scripts/env_fdroid.sh
  scripts/gen_wordmark.sh
  scripts/get_sources.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/patches.sh
  scripts/prebuild.sh
  scripts/run-docker.sh
  scripts/versions.sh
Due: update-site-repo, build-apk, build-bundle

feat: Enable C++ STL hardening
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

fix: Use a different obj directory for each architecture, as well as use different ones for nightly vs. release
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-x86_64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-x86_64.mozconfig
  scripts/build.sh
  scripts/ci-build.sh
  scripts/env_common.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: CI directory for GeckoView AAR archives
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: syntax for `IRONFOX_TARGET_ABI` at `env_common.sh`
  scripts/env_common.sh
Due: build-apk, build-bundle

fix: Improve environment variable handling
  .gitlab-ci.yml
  patches/a-s-overlay/local.properties
  patches/fenix-overlay/local.properties
  patches/gecko-overlay/ironfox/mozconfigs/branding/env.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-x86_64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-x86_64.mozconfig
  patches/gecko-overlay/local.properties
  patches/gecko-overlay/mozconfig
  patches/glean-noop.patch
  patches/glean-overlay/local.properties
  patches/llvm/targets_to_build_arm
  patches/llvm/targets_to_build_arm64
  patches/llvm/targets_to_build_bundle
  patches/llvm/targets_to_build_x86_64
  scripts/bootstrap.sh
  scripts/build.sh
  scripts/ci-build.sh
  scripts/deglean.sh
  scripts/env_common.sh
  scripts/get_sources.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/patches.sh
  scripts/prebuild.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Ensure our Gecko prefs (`002-ironfox.js`) are always copied/up to date, and prevent unnecessarily initially copying `local.properties` and (`002-ironfox.js`) directly as part of our overlays
  .gitignore
  patches/build/application-services/local.properties
  patches/build/fenix/local.properties
  patches/build/gecko/002-ironfox.js
  patches/build/gecko/local.properties
  patches/build/glean/local.properties
  patches/build/llvm/targets_to_build_arm
  patches/build/llvm/targets_to_build_arm64
  patches/build/llvm/targets_to_build_bundle
  patches/build/llvm/targets_to_build_x86_64
  scripts/build.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Ensure that our GeckoView binaries always reflect our (latest) changes
  patches/gecko-ensure-builds-reflect-changes.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Do not enforce TLS 1.3 for publication of tooling-nimbus-gradle at Application Services - this unfortunately appears to be too unreliable
  scripts/build.sh
Due: build-apk, build-bundle

feat: Configure Rust (+ tweak Gradle)
  patches/cargo/config.toml
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  patches/gradle.properties
  scripts/env_common.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: ensure IRONFOX_TARGET_ABI is set for `ci-build.sh`
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: Clean-up Glean stub
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/Dispatchers.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/Glean.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/debug/GleanDebugActivity.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/net/HttpURLConnectionUploader.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/scheduler/MetricsPingScheduler.kt
  patches/glean-overlay/glean-core/android/src/main/java/mozilla/telemetry/glean/scheduler/PingUploadWorker.kt
Due: build-apk, build-bundle

fix: Remove duplicate Android SDK versions from `versions.sh`, + fix formatting for consistency
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Bump Android SDK and build tools for microG
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Set additional Rust flags (+ set our compiler flags for `ASFLAGS` and `TARGET_CXXFLAGS`)
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  scripts/env_common.sh
Due: build-apk, build-bundle

fix: use `IRONFOX_GECKO` instead of `mozilla_release` for copying the output APK at `build.sh` (like we do for the rest of the script)
  scripts/build.sh
Due: build-apk, build-bundle

fix: set env variable for `llvm-profdata`, ensure Android SDK is part of PATH, and fix order for installation of android SDK at `get_sources.sh`
  scripts/env_common.sh
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Set default toolkit to android
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

feat: Add support for Gecko localizations
  patches/gecko-overlay/ironfox/about/attribution/attribution.html
  patches/gecko-overlay/ironfox/about/browser/moz.build
  patches/gecko-overlay/ironfox/about/ironfox/ironfox.html
  patches/gecko-overlay/ironfox/locales/en-US/ironfox/ironfox.ftl
  patches/gecko-overlay/ironfox/locales/jar.mn
  patches/gecko-overlay/ironfox/locales/moz.build
  patches/gecko-overlay/ironfox/moz.build
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  scripts/env_common.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Documentation links (+ add missing link for IronFox Nightly vs. Release comparison) - fixes https://codeberg.org/ironfox-oss/IronFox/issues/93
  docs/README.md
Due: none

fix: subpaths for additional documentation links
  docs/FAQ.md
  docs/Features.md
  docs/Network-Connections.md
Due: none

fix: set `--enable-android-bundle` for bundle builds and set `--disable-android-bundle` for non-bundle builds
  patches/gecko-overlay/ironfox/mozconfigs/targets/arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/x86_64.mozconfig
Due: build-apk, build-bundle

fix: Prevent exposing browser name and vendor to extensions
  README.md
  patches/gecko-overlay/ironfox/about/attribution/attribution.html
  patches/gecko-prevent-exposing-name-and-vendor-to-extensions.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: set Glean to use our own pip environment (instead of trying to create its own...) + clean-up and minor tweaks
  patches/fenix-remove-glean.patch
  patches/glean-noop.patch
  scripts/env_common.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Use mach directly to create GeckoView AAR archives, instead of creating the archives ourselves manually...
  patches/gecko-overlay/ironfox/mozconfigs/targets/bundle.mozconfig
  scripts/ci-build.sh
  scripts/env_common.sh
Due: build-apk, build-bundle

fix: order of AAR architectures at `bundle.mozconfig` (for consistency...)
  patches/gecko-overlay/ironfox/mozconfigs/targets/bundle.mozconfig
Due: build-apk, build-bundle
