Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

feat: allow always downloading the latest APK from `https://releases.ironfoxoss.org/ironfox/releases/latest/{ironfox_arch}/ironfox-latest-{ironfox_arch}.apk` (for convenience)
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix: ensure we don't improperly delete APKs from F-Droid repo (+ clean-up SHA512sums files as well...)
  scripts/ci-publish-packages.sh
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

fix - CI: Nightly RSS feed release page URL
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix: remove no longer used issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/other.yml
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/enhancement.md
  .gitlab/issue_templates/other.md
Due: none

feat: bump Node.js to `26.9.0`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump nvm to `v0.48.8`
  scripts/versions.sh
Due: build-aar, build-final

WIP: 156.0.1
  scripts/versions.sh
Due: build-aar, build-final

fix - CI: typo
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

156.0.1
  CHANGELOG.md
  scripts/versions.sh
Due: build-aar, build-final

fix: exit `0` for `ci-update-site.sh` if we're not on the right branch (instead of `1`) so that GitLab won't consider the pipeline failed
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

feat: add `IRONFOX_APP_ID` constant
  configs/phoenix/phoenix-overrides.cfg
  patches/gecko-overlay/ironfox/android/core/build.gradle
  patches/gecko-overlay/ironfox/android/core/src/main/java/org/ironfoxoss/core/IFConstants.kt
  patches/gecko-overlay/ironfox/core/IFConstants.sys.mjs
  patches/gecko-overlay/ironfox/ironfox.configure
  patches/gecko-overlay/ironfox/prefs/ironfox.js
Due: build-aar, build-final

fix: override the `IRONFOX_VERSION` constant for Nightly builds (so that the version is correct/matches what we set the Android version to)
  patches/gecko-overlay/ironfox/ironfox.configure
  scripts/build-if.sh
  scripts/env_external.sh
Due: build-aar, build-final

fix: ensure we still export `IRONFOX_VERSION`
  scripts/env_external.sh
Due: build-aar, build-final

feat: bump uv to `0.12.19` + cpython to `20260924`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Node.js to `26.10.0`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump npm to `12.1.0`
  scripts/versions.sh
Due: build-aar, build-final

fix: ensure `IRONFOX_IF_VERSION` is properly set
  scripts/build-if.sh
Due: build-aar, build-final

feat: Prevent cross-session tracking via alt-svc data
  README.md
  patches/gecko-prevent-alt-svc-tracking.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

fix: patch date
  patches/gecko-prevent-alt-svc-tracking.patch
Due: build-aar, build-final

fix: if we're building on OS X, use Xcode command line tools 26.5 (due to 27.0 being currently broken)
  scripts/env_external.sh
Due: build-aar, build-final

fix: Ensure that Gecko's sanitization prefs reflect Fenix's sanitization UI settings
  configs/phoenix/ironfox.cfg
  patches/fenix-control-sanitization-gecko.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/gecko-overlay/ironfox/utils/GeckoSettingsBridge.sys.mjs
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

fix: allow the `vpn-serverlist` remote settings collection (for supporting Firefox VPN, if users decide to enable it)
  configs/phoenix/ironfox.cfg
Due: none

fix: patch attribution
  README.md
  patches/gecko-prevent-alt-svc-tracking.patch
Due: build-aar, build-final

fix: update `gecko-rs-blocker.patch`
  patches/gecko-rs-blocker.patch
Due: build-aar, build-final

feat: bump Phoenix to `2026.09.29.2` - https://codeberg.org/celenity/Phoenix/releases/tag/2026.09.29.2
  scripts/versions.sh
Due: build-aar, build-final

WIP: 157.0
  configs/mozconfigs/core.mozconfig
  configs/mozconfigs/targets/arm64.mozconfig
  configs/mozconfigs/targets/x86_64.mozconfig
  patches/a-c-liberate-nimbus.patch
  patches/a-s-liberate.patch
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-nimbus.patch
  patches/fenix-ironfox-oled-theme.patch
  patches/fenix-ironfox-ui.patch
  patches/fenix-liberate-play-integrity.patch
  patches/fenix-liberate-play-review.patch
  patches/fenix-liberate.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxThemeManager.kt
  patches/fenix-remove-vpn.promo.patch
  patches/gecko-overlay/ironfox/android/core/src/main/res/raw/initial_experiments.json
  patches/gecko-overlay/ironfox/utils/GeckoSettingsBridge.sys.mjs
  patches/geckoview-target-release.patch
  scripts/patches.yaml
  scripts/prebuild-if.sh
  scripts/versions.sh
Due: update-site-repo, build-aar, build-final

fix: typo
  patches/fenix-remove-vpn-promo.patch
Due: build-aar, build-final

157.0
  CHANGELOG.md
  scripts/versions.sh
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-de/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-it/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-ja/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-sr/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-tr/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-zh-rTW/strings.xml
  patches/gecko-overlay/ironfox/locales/tr/ironfox/ironfox.ftl
Due: build-aar, build-final

fix: typo
  scripts/prebuild-if.sh
Due: build-aar, build-final

feat: Add UI setting to enable/disable support for Firefox VPN (IP Protection)
  configs/phoenix/ironfox.cfg
  patches/fenix-ironfox-settings-support-ip-protection.patch
  patches/fenix-ironfox-ui.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/xml/ironfox_preferences.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values/strings.xml
  patches/gecko-overlay/ironfox/utils/GeckoSettingsBridge.sys.mjs
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

feat: disable voice search (as it depends on/uses Google Speech Services)
  patches/fenix-disable-firefox-suggest.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IFPrefs.kt
  patches/fenix-search-settings-visibility.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

feat: Add additional IronFox add-on utilities + enhance existing ones, as well as rename `IronFoxAddons` to `IFAddonutils` (for consistency with our other utils)
  patches/fenix-hide-remove-and-pb-for-builtin-addons.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IFAddonUtils.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxAddons.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferencesPage.kt
Due: build-aar, build-final

fix: typo
  patches/fenix-hide-remove-and-pb-for-builtin-addons.patch
Due: build-aar, build-final

feat: add Gecko add-on utilities + add back prompt to display when add-on installation is disabled (to improve UX/avoid confusion for unsuspecting users)
  configs/phoenix/ironfox.cfg
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IFAddonUtils.kt
  patches/gecko-overlay/ironfox/utils/IFAddonUtils.sys.mjs
  patches/gecko-overlay/ironfox/utils/moz.build
  patches/gecko-support-addon-installation-without-mozaddonmanager.patch
  patches/geckoview-ironfox-settings-support-xpinstall.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

fix: use a vector drawable for Compose artwork replacements
  patches/fenix-overlay/app/src/main/res/values/ironfox_drawables.xml
  scripts/prebuild-if.sh
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-cs/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-et/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-nl/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-ru/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-zh-rCN/strings.xml
  patches/gecko-overlay/ironfox/android/core/src/main/res/values-zh-rTW/strings.xml
Due: build-aar, build-final

feat: Use a generic default device name for Firefox Sync
  patches/fenix-use-generic-device-name-for-sync-by-default.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

fix: typo
  patches/gecko-overlay/ironfox/utils/IFAddonUtils.sys.mjs
Due: build-aar, build-final
