Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

fix: ADB installation
  scripts/sign.sh
Due: build-aar, build-final

fix: timeout
  scripts/build-if.sh
Due: build-aar, build-final

feat: bump Python to 3.14.4
  scripts/versions.sh
Due: build-aar, build-final

feat: update to our new Codeberg unified issue tracker
  README.md
  patches/fenix-ironfox-branding.patch
Due: build-aar, build-final

feat: bump cpython to 20260414
  scripts/versions.sh
Due: build-aar, build-final

feat: bump uv to 0.11.7
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Rust to 1.95 (Also bumps our uniffi prebuilds accordingly)
  README.md
  patches/gecko-fix-rust-build.patch
  scripts/patches.yaml
  scripts/prebuild-if.sh
  scripts/versions.sh
Due: update-site-repo, build-aar, build-final

fix: Remove unused/leftover RS timestamps from Application Services
  scripts/prebuild-if.sh
Due: build-aar, build-final

feat: Add SearXNG (Disroot) as a default search engine
  patches/a-c-configure-default-search-engines.patch
  patches/a-c-overlay/components/feature/search/src/main/assets/search/list.json
  patches/a-c-overlay/components/feature/search/src/main/assets/searchplugins/searxdis.xml
  patches/a-s-configure-default-search-engines.patch
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/541819c3-35be-4ef3-9009-021b62c73545
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/541819c3-35be-4ef3-9009-021b62c73545.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-icons.json
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-v2.json
Due: build-aar, build-final

fix: clean-up and refine Gecko pref handling (for our added settings)
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsDictionary.kt
  patches/gecko-overlay/ironfox/prefs/GeckoSettingsBridge.sys.mjs
  patches/gecko-overlay/ironfox/prefs/moz.build
  patches/geckoview-lock-runtime-settings-prefs.patch
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

feat: bump GYP to 0.22.1
  scripts/versions.sh
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-ar/ironfox_strings.xml
Due: build-aar, build-final

feat: bump UnifiedPush-AC to 1.0.2
  scripts/versions.sh
Due: build-aar, build-final

150.0
  scripts/versions.sh
Due: build-aar, build-final

fix: UnifiedPush-AC checksum
  scripts/versions.sh
Due: build-aar, build-final

fix: include utilities for `ci-publish-packages.sh`
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix: do not set VIRTUAL_ENV as `readonly`
  scripts/env_external.sh
Due: build-aar, build-final

fix - ci: copy bundle apkset to artifacts
  scripts/ci-build-if.sh
Due: build-aar, build-final

fix: do not set env vars as `local` for `ci-update-fdroid.sh`
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

feat: Implement universal updates.json file/URL (https://releases.ironfoxoss.org/ironfox/releases/updates.json) + update Obtainium URL to use it
  README.md
  scripts/ci-publish-packages.sh
  templates/updates.json
Due: build-aar, build-final

fix: update certificate pinning
  patches/gecko-certificate-pinning.patch
Due: build-aar, build-final

fix: Download dependencies for `update-fdroid-repo` and `update-site-repo` from `get_sources.sh` (+ replace instances of certain GitLab-specific environment variables with our own generic ones)
  .gitlab-ci.yml
  scripts/ci-publish-packages.sh
  scripts/ci-update-fdroid.sh
  scripts/ci-update-site.sh
  scripts/env_common.sh
  scripts/get_sources-if.sh
  scripts/versions.sh
Due: update-site-repo, build-aar, build-final

fix: Do not set default values for S3 env variables
  scripts/ci-publish-packages.sh
  scripts/env_ci.sh
  scripts/env_common.sh
Due: build-aar, build-final

fix: rename IRONFOX_KEYSTORE env vars to IRONFOX_ANDROID_KEYSTORE for clarity/consistency (+ minor formatting)
  .gitlab-ci.yml
  scripts/ci-build-if.sh
  scripts/env_ci.sh
  scripts/env_common.sh
  scripts/sign.sh
Due: build-aar, build-final

feat: Use separate `ci-prep.sh` for setting up the Android keystore, Google Safe Browsing API key, and S3 storage in CI
  .gitlab-ci.yml
  scripts/ci-build-if.sh
  scripts/ci-build.sh
  scripts/ci-compress.sh
  scripts/ci-prep.sh
  scripts/ci-publish-packages.sh
  scripts/ci-update-fdroid.sh
  scripts/ci-update-site.sh
  scripts/sign.sh
Due: update-site-repo, build-aar, build-final

fix: gen_patch_pages.py path
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - ci: do not check for Android keystore if we're only building a GeckoView AAR - unused
  scripts/ci-build-if.sh
Due: build-aar, build-final

fix: typos
  scripts/ci-prep.sh
  scripts/deglean.sh
  scripts/get_sources.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/prebuild.sh
Due: build-aar, build-final

fix: typo
  scripts/ci-prep.sh
Due: build-aar, build-final

feat: explicitly enable PDF.js minification
  configs/mozconfigs/core.mozconfig
Due: none

feat: disable use of system preferences
  configs/mozconfigs/core.mozconfig
Due: none

feat: Convert prefs/default values set by GeckoRuntimeSettings to static/standard prefs .js files
  patches/gecko-overlay/ironfox/prefs/GeckoSettingsBridge.sys.mjs
  patches/gecko-overlay/ironfox/prefs/ironfox.js
  scripts/extract-contentblocking-prefs.py
  scripts/extract-contentblocking-prefs.sh
  scripts/extract-geckoruntimesettings-prefs.sh
  scripts/prebuild-if.sh
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

feat: bump Phoenix to 2026.04.27.1
  patches/gecko-certificate-pinning.patch
  scripts/versions.sh
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

feat: bump npm to 11.13.0
  scripts/versions.sh
Due: build-aar, build-final

feat: bump pip to 26.1
  scripts/versions.sh
Due: build-aar, build-final

feat: bump microG to v0.3.15.250932
  scripts/versions.sh
Due: build-aar, build-final

feat: add `.editorconfig` + `.gitattributes`
  .editorconfig
  .gitattributes
Due: none

fix: .gitattributes (for now)
  .gitattributes
Due: none
