Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    IF_CI_NAME: IronFox CI
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

v144.0.1
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Remove duplicate `gecko-ironfox-settings-support-timezone-spoofing` patch
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

WIP: v144.0.1
  scripts/versions.sh
Due: build-apk, build-bundle

WIP: v144.0.2
  scripts/versions.sh
Due: build-apk, build-bundle

v144.0.2
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Add WebGL override for `newgrounds.com` + `ungrounded.net` - https://codeberg.org/celenity/BadBlock/issues/97
  patches/gecko-overlay/mobile/android/branding/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
Due: build-apk, build-bundle

feat: Add Accrescent back to README + FAQ (They finally fixed updates...) - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/193
  README.md
  docs/FAQ.md
Due: none

Fix Weblate having overwritten English files
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
Due: build-apk, build-bundle

fix(builder): use 'git submodule' to shallow clone submodules
  builder/src/execution/clone.py
Due: none

fix(builder): add build configs
  .gitignore
  builder/src/cli.py
  builder/src/commands/build.py
  builder/src/steps/prepare/__init__.py
  builder/src/steps/prepare/wasi_sdk.py
Due: none

fix: Fix-up/update Gecko pref handling to work-around certain edge cases - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/199
  patches/geckoview-lock-runtime-settings-prefs.patch
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

feat: Bump Rust to `1.91.0`
  scripts/versions.sh
Due: build-apk, build-bundle

fix(builder): use pre-build wasi sdk
  builder/src/steps/prepare/firefox.py
  builder/src/steps/setup/__init__.py
Due: none

fix(builder): remove wasi-sdk preparation steps
  builder/src/execution/definition.py
  builder/src/execution/patch.py
  builder/src/steps/prepare/__init__.py
Due: none

fix(builder): invalid Rust version when building uniffi-bindgen
  builder/src/steps/prepare/uniffi.py
Due: none

fix(builder): stage build steps
  builder/src/execution/run.py
  builder/src/steps/.gitignore
  builder/src/steps/build/__init__.py
  builder/src/steps/build/uniffi_bindgen.py
  builder/src/steps/build/wasi_sdk.py
Due: none

feat(builder): add steps to build uniffi/microg/glean/a-s
  builder/src/cli.py
  builder/src/commands/build.py
  builder/src/steps/build/__init__.py
  builder/src/steps/build/uniffi_bindgen.py
Due: none

fix(builder): add back rich progress
  builder/src/execution/clone.py
  builder/src/execution/definition.py
  builder/src/execution/download.py
  builder/src/execution/executor.py
  builder/src/execution/extract.py
  builder/src/execution/files.py
  builder/src/execution/find_replace.py
  builder/src/execution/localize_maven.py
  builder/src/execution/overlay.py
  builder/src/execution/patch.py
  builder/src/execution/run.py
Due: none

fix(builder): do not report overall progress
  builder/src/commands/base.py
  builder/src/execution/executor.py
  builder/src/execution/find_replace.py
Due: none

fix(builder): remove unnecessary comments
  builder/src/execution/executor.py
Due: none

fix(builder): invalid host target in glean/local.props
  builder/src/steps/prepare/glean.py
Due: none

fix(builder): invalid comment token for libs.versions.toml
  builder/src/steps/prepare/application_services.py
Due: none

fix(builder): add missing patch for Glean
  patches/glean-patches.yaml
  patches/glean-unbreak-uniffi-cmd.patch
Due: build-apk, build-bundle

feat(builder): add utils to print task graph
  builder/pyproject.toml
  builder/src/execution/task_graph.py
Due: none

feat(builder): add build steps for remaining components
  builder/src/commands/base.py
  builder/src/common/locales.py
  builder/src/common/paths.py
  builder/src/execution/executor.py
  builder/src/steps/build/__init__.py
  builder/src/steps/prepare/firefox.py
  patches/locales
Due: build-apk, build-bundle

feat(builder): add ability to write task graph to files
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/execution/task_graph.py
Due: none

fix(builder): export task graph to mermaid files
  builder/src/cli.py
  builder/src/commands/base.py
  builder/src/execution/task_graph.py
Due: none

fix(builder): resolve task order issues in build command
  builder/src/common/utils.py
  builder/src/execution/executor.py
  builder/src/steps/build/__init__.py
Due: none

fix(builder): add/update missing quotes in mozconfig
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): remove DoH config/rollout - local dumps
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): invalid vendor set in moz.configure
  builder/src/steps/prepare/firefox.py
  builder/src/steps/setup/__init__.py
Due: none

fix(builder): invalid target dir path when copying branding info
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): count is sometimes not considered when replacing text
  builder/src/execution/find_replace.py
Due: none

fix(builder): reuse regex repl for literal repl
  builder/src/execution/find_replace.py
  builder/src/execution/types.py
  builder/src/steps/prepare/firefox.py
Due: none

fix: show progress when running commands
  builder/src/common/subproc.py
  builder/src/execution/run.py
Due: none

fix(builder): indentation issue in docshell/build/components.conf
  builder/src/steps/prepare/firefox.py
Due: none

fix(builder): invalid copy-into path
  builder/src/steps/prepare/firefox.py
Due: none

feat: Block `starlink.com` from extracting canvas data
  patches/gecko-overlay/mobile/android/branding/ironfox/dumps/ironfox-fingerprinting-protection-overrides-harden.json
Due: build-apk, build-bundle

feat: Enable Shortcut URL bar suggestions by default
  patches/fenix-enable-shortcut-suggestions-by-default.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
