Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  tags:
  - saas-linux-2xlarge-amd64
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

fix: Add missing Gecko icons/branding assets
  patches/gecko-overlay/ironfox/about/jar.mn
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/about-logo.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/about-logo@2x.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/about.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/favicon32.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/favicon64.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/icon16.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/icon32.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/icon64.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/jar.mn
  patches/gecko-overlay/ironfox/branding/ironfox/content/about-logo.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/about-logo@2x.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/about.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/favicon32.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/favicon64.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/icon16.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/icon32.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/icon64.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/jar.mn
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Modify `AboutPagesUtils` directly to display `about:config` at `about:about`
  patches/gecko-expose-aboutconfig.patch
Due: build-apk, build-bundle

feat: Add setting to always use private browsing mode (like Firefox on Desktop) + always display the "Quit" menu item, even if data isn't being cleared on exit (Useful/nice to have)
  patches/fenix-expose-secret-settings.patch
  patches/fenix-ironfox-settings-support-pb-always.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/xml/ironfox_preferences.xml
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
Due: build-apk, build-bundle

feat: Add setting to always use private browsing mode (like Firefox on Desktop) + always display the "Quit" menu item, even if data isn't being cleared on exit (Useful/nice to have) - Part 2...
  patches/fenix-ironfox-settings.patch
  patches/fenix-ironfox-ui.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Ensure that we don't reset the user's choice to open links in private browsing tabs if they enable always private browsing mode and disable it later
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
Due: build-apk, build-bundle

fix: Unbreak BankID authentication - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/213
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
Due: build-apk, build-bundle

fix: Enable WebGL for `namemc.com` + allow `namemc.com` to extract randomized canvas data in first party contexts by default (Required for skins to display)
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak.json
Due: build-apk, build-bundle

feat: Document how to use a custom server for Firefox Sync - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/203
  docs/FAQ.md
Due: none

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-it/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
Due: build-apk, build-bundle

feat: Update uniffi-bindgen + WASI SDK prebuilts (+ now clone certain repos via commit)
  scripts/get_sources.sh
  scripts/prebuild.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: UNIFFI_VERSION
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Clone sources from commit (instead of tag/branch)
  scripts/get_sources.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Remove no longer applicable note
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Ensure that Gecko preferences for our UI settings are always defined
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
Due: build-apk, build-bundle

fix(builder): build errors
  builder/src/steps/build/__init__.py
  builder/src/steps/prepare/android_components.py
  builder/src/steps/prepare/fenix.py
  builder/src/steps/prepare/firefox.py
Due: none

v146.0
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Hide unwanted menu items (+ always display the `Quit` button) for the menu redesign (like we do now for the current menu design)
  patches/fenix-ironfox-ui.patch
Due: build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-nl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-uk/ironfox_strings.xml
Due: build-apk, build-bundle

fix: Do not display unwanted Firefox Sync promotions at the Bookmarks and Settings fragments
  patches/fenix-remove-sync-promo-bookmarks.patch
  patches/fenix-remove-sync-promo-settings.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: order
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: consolidate patches to hide/add certain UI preferences
  patches/fenix-disable-telemetry.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-liberate.patch
  patches/fenix-remove-sync-promo-settings.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Update `glean-noop.patch` to further no-op the Glean Kotlin library and reduce unwanted classes
  patches/glean-noop.patch
Due: build-apk, build-bundle

v142.0.1
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Bump Bundletool in CI to `1.18.1`, + create log files for `build-apk` and `build-bundle` (since we're unfortunately currently hitting GitLab's job limit)
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: unbound variable 'SDK_REVISION'
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle

fix: include variant names in build logs filename
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: Ensure `setup-android.sdk.sh` is properly executed
  README.md
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: Android script/variables
  README.md
  scripts/ci-build.sh
  scripts/versions.sh
Due: build-apk, build-bundle

ci: redirect all build logs to files; without terminal output
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: ensure logs are always uploaded to artifacts
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: Ensure `logs` directory exists, remove unused `BUNDLETOOL` variable, and bump Android build-tools to `36.0.0` for `ci-build.sh`
  .gitlab-ci.yml
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Remove additional telemetry components
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GrowthDataWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Add support for building IronFox on macOS
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Remove Search telemetry (Like our previous approach)
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

WIP: v143.0
  patches/fenix-disable-telemetry.patch
Due: build-apk, build-bundle

feat: Stub additional marketing/metrics/telemetry components
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GrowthDataWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ApplicationExitInfoMetrics.kt
Due: build-apk, build-bundle

feat: Stub PlayStoreReviewPromptController + remove microG Tasks, and remove CustomReviewPromptTelemetryMiddleware
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove certain libraries from Gradle versions + remove Crash Reporter from Push
  scripts/prebuild.sh
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
