Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

feat: bump Node.js to 26.4.0
  scripts/versions.sh
Due: build-aar, build-final

feat: bump uv to 0.11.25 + cpython to 20260623
  scripts/versions.sh
Due: build-aar, build-final

fix: Clean-up string handling
  patches/fenix-local-wallpapers.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixStringsDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferenceDohOnboardingPage.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferencesPage.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
Due: build-aar, build-final

fix: Clean-up wallpaper handling
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperDictionary.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxWallpaperUtils.kt
Due: build-aar, build-final

fix: correct `prefKey` input type to `Int` (instead of `String`)
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
Due: build-aar, build-final

fix: update .editorconfig
  .editorconfig
Due: none

fix: update .gitattributes
  .gitattributes
Due: none

fix: remove no longer used `Accessibility` patch category
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-ar/ironfox_strings.xml
Due: build-aar, build-final

fix: clean-up Rust flags
  scripts/env_common.sh
Due: build-aar, build-final

fix: Clean-up external Rust env vars
  scripts/env_external.sh
Due: build-aar, build-final

fix: use `${IRONFOX_CARGO}` instead of `cargo` directly at `get_sources.sh`
  scripts/get_sources-if.sh
Due: build-aar, build-final

feat: bump prebuilds
  scripts/get_sources-if.sh
  scripts/versions.sh
Due: build-aar, build-final

fix: add headers for `.editorconfig` and `.gitignore`
  .editorconfig
  .gitignore
Due: none

fix: ensure we use GNU patch on OS X
  scripts/bootstrap.sh
  scripts/env_common.sh
  scripts/env_external.sh
  scripts/patches.sh
Due: build-aar, build-final

feat: prevent `s3cmd` from installing manual pages/doc files
  scripts/env_external.sh
Due: build-aar, build-final

fix: remove headers for `.editorconfig`, `.gitattributes`, and `.gitignore` - IMO cleaner without
  .editorconfig
  .gitattributes
  .gitignore
Due: none

fix: ensure we get/properly use the preference key for hiding/displaying prefs at `FenixSettingsVisibilityManager`
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/FenixSettingsVisibilityManager.kt
Due: build-aar, build-final

WIP: 152.0.4
  scripts/versions.sh
Due: build-aar, build-final

feat: bump npm to 11.18.0
  scripts/versions.sh
Due: build-aar, build-final

152.0.4
  scripts/versions.sh
Due: build-aar, build-final

fix: use the "slowest" compression level for artifacts (to help reduce sizes)
  .gitlab-ci.yml
Due: build-aar, build-final

fix: Upload artifacts to S3 storage (instead of GitLab directly) - lets us bypass the size limits and reduces our reliance/dependency on GitLab
  .gitlab-ci.yml
  scripts/ci-build-if.sh
  scripts/ci-build.sh
  scripts/ci-download-artifacts-if.sh
  scripts/ci-download-artifacts.sh
  scripts/ci-prep.sh
  scripts/ci-update-fdroid.sh
  scripts/ci-upload-artifacts-if.sh
  scripts/ci-upload-artifacts.sh
  scripts/env_ci.sh
  scripts/env_common.sh
Due: build-aar, build-final

fix: ensure uploading artifacts to s3 is prepared + do not try to uncompress artifacts at `ci-publish-packages.sh`
  .gitlab-ci.yml
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix: install `s3cmd` for build CI jobs (so that the final output can be uploaded...)
  scripts/ci-build-if.sh
Due: build-aar, build-final

fix: typo for `.gitattributes`
  .gitattributes
Due: none

fix: add notes for `.gitattributes`
  .gitattributes
Due: none

fix: typo
  scripts/ci-upload-artifacts-if.sh
Due: build-aar, build-final

fix: upload artifacts to `https://artifacts.ironfoxoss.org/ironfox/` (instead of `https://artifacts.ironfoxoss.org/` directly) - in case we need to use this for other projects/repos in the future
  scripts/ci-download-artifacts-if.sh
  scripts/ci-upload-artifacts-if.sh
Due: build-aar, build-final

feat: bump uv to `0.11.26`
  scripts/versions.sh
Due: build-aar, build-final

fix: typo
  .gitlab-ci.yml
Due: build-aar, build-final

feat: Improve `get_sources.sh`
  .gitlab-ci.yml
  scripts/ci-build-if.sh
  scripts/get_sources-if.sh
Due: build-aar, build-final

fix: update `.gitattributes`
  .gitattributes
Due: none

feat: set certain important build options as `imply_option` from `ironfox.configure` to enforce their values/ensure they're always set correctly
  configs/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/ironfox.configure
Due: build-aar, build-final

fix: order
  configs/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/ironfox.configure
Due: build-aar, build-final

fix: minor formatting
  scripts/get_sources-if.sh
Due: build-aar, build-final

feat: update `gecko-disable-telemetry.patch`
  patches/gecko-disable-telemetry.patch
Due: build-aar, build-final
