Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    BUNDLETOOL: 1.18.0
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

fix: minor formatting
  patches/fenix-liberate.patch
Due: build-apk, build-bundle

fix: Minor tweaks/fixes/additions
  patches/preferences/ironfox.js
  scripts/prebuild.sh
Due: build-apk, build-bundle

WIP: v142.0 (Part 3...)
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-ironfox-onboarding.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Simplify/minimize patches (in favor of `prebuild.sh`) - should allow for far easier maintenance
  patches/a-c-disable-unsolicited-favicon-fetching.patch
  patches/fenix-disable-mars.patch
  patches/fenix-disable-network-connectivity-monitoring.patch
  patches/fenix-disable-shipped-domains.patch
  patches/fenix-enable-secure-storage.patch
  patches/fenix-increase-rs-update-frequency.patch
  patches/fenix-liberate.patch
  patches/fenix-remove-glean-service.patch
  patches/fenix-remove-webcompat-reporter.patch
  patches/fenix-reset-remote-debugging-per-session.patch
  patches/gecko-custom-ublock-origin-assets.patch
  patches/gecko-disable-sslkeylogging.patch
  patches/gecko-disable-telemetry.patch
  patches/gecko-exclude-gmp-sources.patch
  patches/gecko-remove-abouttelemetry.patch
  patches/gecko-remove-example-dependencies.patch
  patches/gecko-rs-dumps.patch
  patches/geckoview-disable-network-connectivity-monitoring.patch
  patches/geckoview-liberate.patch
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

fix: path
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: typo
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: fix-up (+ minor tweaks/refinements)
  patches/fenix-disable-telemetry.patch
  patches/fenix-liberate.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/GleanHelper.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GleanUsageReporting.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Stub `SentryService`, clean-up/minimize patches to disable crash reporting and telemetry, and prevent GeckoView from trying to load non-existent GeckoCrashHelper library
  patches/a-c-disable-crash-reporting.patch
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-telemetry.patch
  patches/fenix-liberate.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/GleanHelper.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GleanUsageReporting.kt
  patches/geckoview-disable-crash-reporting.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Create separate repo for management of external/out of band resources, like uBlock Origin assets, to allow for easier management and maintenance
  scripts/ci-build.sh
  scripts/env_common.sh
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: build-apk, build-bundle

v142.0
  patches/gecko-overlay/mobile/android/ironfox.configure
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Add `BadBlock - Fonts` to uBlock Origin
  uBlock/assets.dev.json
  uBlock/assets.main.json
Due: none

fix: Do not clone Application Services Glean
  scripts/get_sources.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Transparent icon for branding - thanks to @birbkeks - fixes https://gitlab.com/ironfox-oss/IronFox/-/merge_requests/64
  patches/gecko-overlay/mobile/android/branding/ironfox/content/favicon32.png
  patches/gecko-overlay/mobile/android/branding/ironfox/content/favicon64.png
Due: build-apk, build-bundle

fix: Glean version
  scripts/versions.sh
Due: build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
Due: build-apk, build-bundle

fix: migrate onboarding patch to M3
  patches/fenix-ironfox-onboarding.patch
Due: build-apk, build-bundle

fix: uBlock Origin automatic asset/config updates
  uBlock/assets.json
Due: none

ci: trigger CI
  README.md
Due: none

ci: trigger CI for release v142.0
  README.md
Due: none

ci: trigger CI
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: use saas-linux-medium-amd64 runners for updating F-Droid repo
  .gitlab-ci.yml
Due: build-apk, build-bundle

ci: use syntax error in ci-update-fdroid.sh
  scripts/ci-update-fdroid.sh
Due: build-apk, build-bundle

fix: invalid meta file name when stagning changes in ci-update-fdroid
  scripts/ci-update-fdroid.sh
Due: build-apk, build-bundle

fix: update scripts to use service account
  .gitlab-ci.yml
  scripts/ci-update-fdroid.sh
  scripts/ci-update-site.sh
Due: update-site-repo, build-apk, build-bundle

fix: specify GitLab URL explicitly with credentials
  .gitlab-ci.yml
Due: build-apk, build-bundle

fix: Crash caused by Review Prompt
  patches/fenix-liberate.patch
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
