Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

update-site-repo:
  image: fedora:43
  stage: build_site
  tags:
  - saas-linux-2xlarge-amd64
  variables:
    PRODUCTION_BRANCH: main
    IRONFOX_SB_GAPI_KEY_FILE: /opt/IronFox/ironfox-sb-gapi.data
    IRONFOX_KEYSTORE: /opt/IronFox/ironfox-keystore.jks
    IRONFOX_KEYSTORE_KEY_PASS_FILE: /opt/IronFox/ironfox-signing-key.pass
  ...

build-aar:
  before_script:
  - mkdir -p /opt/IronFox
  - echo "${IRONFOX_SB_GAPI_KEY}" > "${IRONFOX_SB_GAPI_KEY_FILE}"
  - echo "${IRONFOX_KEYSTORE_KEY_PASS}" > "${IRONFOX_KEYSTORE_KEY_PASS_FILE}"
  - echo "${IRONFOX_KEYSTORE_PASS}" > "${IRONFOX_KEYSTORE_PASS_FILE}"
  ...

build-final:
  before_script:
  - mkdir -p /opt/IronFox
  - echo "${IRONFOX_SB_GAPI_KEY}" > "${IRONFOX_SB_GAPI_KEY_FILE}"
  - echo "${IRONFOX_KEYSTORE_KEY_PASS}" > "${IRONFOX_KEYSTORE_KEY_PASS_FILE}"
  - echo "${IRONFOX_KEYSTORE_PASS}" > "${IRONFOX_KEYSTORE_PASS_FILE}"
  ...

feat: use LFS for png assets (+ an old large binary file that was uploaded...)
  .gitattributes
Due: none

feat: bump uv to 0.11.8
  scripts/env_external.sh
  scripts/versions.sh
Due: build-aar, build-final

fix: update `.gitattributes`
  .gitattributes
Due: none

WIP: 150.0.1
  scripts/versions.sh
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

150.0.1
  scripts/versions.sh
Due: build-aar, build-final

fix: revert commit e625d3c8a20b05705b4d61494dec3b2b5c7bbed5 for now - appears to cause issues for certain prefs, will need to further investigate
  patches/gecko-overlay/ironfox/prefs/GeckoSettingsBridge.sys.mjs
  patches/gecko-overlay/ironfox/prefs/ironfox.js
  scripts/prebuild-if.sh
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

Translations update from Hosted Weblate
  patches/gecko-overlay/ironfox/locales/es/ironfox/ironfox.ftl
Due: build-aar, build-final

fix: set proper MIME types for uploaded S3 files
  scripts/ci-publish-packages.sh
  scripts/env_common.sh
Due: build-aar, build-final

fix: set proper MIME types for uploaded S3 files
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix: remove the `--no-proxy-ntlm` curl flag
  scripts/env_common.sh
Due: build-aar, build-final

fix: Download releases for the F-Droid repo directly from `releases.ironfoxoss.org` (+ verify SHA512sums)
  scripts/ci-update-fdroid.sh
Due: build-aar, build-final

fix: ensure we never try to set unsupported prefs from `GeckoSettingsBridge`
  patches/gecko-overlay/ironfox/prefs/GeckoSettingsBridge.sys.mjs
Due: build-aar, build-final

fix: enable WebGL for `siapre.pl` by default (+ allow canvas data extraction to fix display of AR QR codes) - https://codeberg.org/celenity/BadBlock/issues/126
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak.json
Due: build-aar, build-final

feat: Expand protection against fingerprinting/sticking out from Firefox via internal resources
  README.md
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/about-if.png
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/about-logo.svg
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/content/jar.mn
  patches/gecko-overlay/ironfox/branding/ironfox/content/about-if.png
  patches/gecko-overlay/ironfox/branding/ironfox/content/about-logo.svg
  patches/gecko-overlay/ironfox/branding/ironfox/content/jar.mn
  patches/gecko-overlay/ironfox/themes/global/jar.mn
  patches/gecko-prevent-exposing-branding.patch
  patches/gecko-prevent-fingerprinting-via-chrome-resources.patch
  patches/gecko-remove-aboutrestricted.patch
  patches/gecko-remove-abouttelemetry.patch
  patches/gecko-remove-gmp-sources.patch
  patches/gecko-remove-openai.patch
  scripts/patches.yaml
  scripts/prebuild-if.sh
Due: update-site-repo, build-aar, build-final

fix: Unbreak Firefox Sync-related UI - fixes https://codeberg.org/ironfox-oss/bugs/issues/250
  templates/gecko/ironfox.cfg
Due: none

fix: use `--mime-type` instead of `--default-mime-type` for s3cmd
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

feat: Add prefs to allow users to bypass detection of DevTools (see https://codeberg.org/librewolf/source/pulls/61 for details)
  README.md
  patches/gecko-devtools-bypass.patch
  scripts/patches.yaml
  templates/gecko/ironfox.cfg
Due: update-site-repo, build-aar, build-final

fix: Split up certain patches, + use cleaner/simpler solutions for certain cases (to improve portability/maintainability)
  patches/gecko-autoconfig-setenv.patch
  patches/gecko-configure-ublock-origin.patch
  patches/gecko-devtools-bypass.patch
  patches/gecko-enable-aboutinference.patch
  patches/gecko-enable-abouttranslations.patch
  patches/gecko-prevent-fingerprinting-via-chrome-resources.patch
  patches/gecko-prevent-fingerprinting-via-crash-resources.patch
  patches/gecko-remove-abouttelemetry.patch
  patches/gecko-support-addon-installation-without-mozaddonmanager.patch
  patches/gecko-support-autoconfig.patch
  patches/gecko-support-native-manifests.patch
  patches/gecko-support-policies.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

fix: Download extensions as standard .xpi files when add-on installation is disabled, instead of silently blocking them
  patches/gecko-support-addon-installation-without-mozaddonmanager.patch
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

fix: Add additional checks for support of native manifests
  patches/gecko-support-native-manifests.patch
Due: build-aar, build-final

fix: ensure we set all Gecko prefs properly
  patches/gecko-overlay/ironfox/prefs/GeckoSettingsBridge.sys.mjs
Due: build-aar, build-final

fix: update allowed RS collections
  templates/gecko/ironfox.cfg
Due: none

feat: bump pip to 26.1.1
  scripts/versions.sh
Due: build-aar, build-final

feat: bump uv to 0.11.10
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Python to 3.14.5rc1
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Node.js to 26.0.0
  scripts/versions.sh
Due: build-aar, build-final

feat: bump npm to 11.14.0
  scripts/versions.sh
Due: build-aar, build-final

feat: bump uv to 0.11.11
  scripts/versions.sh
Due: build-aar, build-final

WIP: 150.0.2
  patches/fenix-liberate-glean.patch
  scripts/versions.sh
  templates/gecko/ironfox.cfg
Due: build-aar, build-final

150.0.2
  scripts/versions.sh
Due: build-aar, build-final

feat: bump uv to 0.11.13
  scripts/get_sources-if.sh
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Python to 3.14.5
  scripts/versions.sh
Due: build-aar, build-final

feat: bump Node.js to 26.1.0
  scripts/versions.sh
Due: build-aar, build-final

feat: bump npm to 11.14.1
  scripts/versions.sh
Due: build-aar, build-final

fix: refine/split up patches for handling of extension blocking
  patches/gecko-ironfox-settings-support-extension-blocklist.patch
  patches/gecko-ironfox-settings-support-xpinstall.patch
  scripts/patches.yaml
Due: update-site-repo, build-aar, build-final

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_strings.xml
Due: build-aar, build-final

fix: note version for PyYAML
  scripts/versions.sh
Due: build-aar, build-final

feat: bump JDK 17
  scripts/versions.sh
Due: build-aar, build-final

feat: bump JDK 21 to 21.0.11+10
  scripts/versions.sh
Due: build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
