Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
    IF_CI_NAME: IronFox CI
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

feat: Remove Search telemetry (Like our previous approach)
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Builds that clone/build wasi-sdk locally, + set PLATFORM_VERSION as a variable for `setup-android-sdk`
  scripts/get_sources.sh
  scripts/setup-android-sdk.sh
Due: build-apk, build-bundle

fix: Remove certain libraries from Gradle versions + remove Crash Reporter from Push
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Stub PlayStoreReviewPromptController + remove microG Tasks, and remove CustomReviewPromptTelemetryMiddleware
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Remove additional telemetry components
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/GrowthDataWorker.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Add support for using a prebuilt WASI SDK for macOS
  scripts/build.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Add support for building IronFox on macOS
  patches/glean-noop.patch
  scripts/build.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Ensure `wasi-sdk` directory exists for prebuilds
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: `ci-build.sh`
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: Use patches for certain changes (instead of `sed`/the `prebuild` script)
  patches/fenix-disable-telemetry.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

WIP: v143.0
  patches/fenix-disable-telemetry.patch
Due: build-apk, build-bundle

fix: Remove duplicate UniFFi download from get_sources.sh
  scripts/get_sources.sh
Due: build-apk, build-bundle

v143.0.2
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ApplicationExitInfoMetrics.kt
Due: build-apk, build-bundle

fix: `get_sources.sh`
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Prevent the setting to enable/disable installation of add-ons from disabling already installed add-ons - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/187
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

fix: `gecko-ironfox-settings-support-xpinstall.patch`
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

feat: Add pref to enable/disable timezone spoofing
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Add UI toggles to enable/disabe timezone spoofing and our timezone spoofing overrides
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

fix: Lock `media.eme.require-app-approval` to ensure that EME is always/only controlled by the UI/permission prompt
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

WIP: v144.0
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

fix: Remove duplicate `gecko-ironfox-settings-support-timezone-spoofing` patch
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

Fix: Keep location for `about:policies` the same as Firefox for Desktop - this minimizes our required changes (ex. now we don't have to edit `aboutPolicies.html` directly)
  patches/gecko-support-policies.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

Fix: Ensure we package locales for `about:policies`
  patches/gecko-overlay/mobile/locales/jar.mn
Due: build-apk, build-bundle

fix: Use `branding` directory to package our custom `about` pages, instead of modifying `toolkit` directly
  patches/gecko-overlay/mobile/android/branding/ironfox/about/attribution.css
  patches/gecko-overlay/mobile/android/branding/ironfox/about/attribution.html
  patches/gecko-overlay/mobile/android/branding/ironfox/about/ironfox.css
  patches/gecko-overlay/mobile/android/branding/ironfox/about/ironfox.html
  patches/gecko-overlay/mobile/android/branding/ironfox/about/jar.mn
  patches/gecko-overlay/mobile/android/branding/ironfox/about/moz.build
  patches/gecko-overlay/mobile/android/branding/ironfox/moz.build
Due: build-apk, build-bundle

feat: Expose certain hidden settings at `about:support`
  patches/gecko-expose-hidden-aboutsupport-settings.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Use a separate package ID/branding for CI (Nightly) builds and development
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/configure.sh
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/content/favicon32.png
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/content/favicon64.png
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/content/jar.mn
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/content/moz.build
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/locales/en-US/brand.ftl
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/locales/en-US/brand.properties
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/locales/jar.mn
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/locales/moz.build
  patches/gecko-overlay/mobile/android/branding/ironfox-nightly/moz.build
  scripts/ci-build.sh
  scripts/env_common.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

Add Nightly package ID to README
  README.md
Due: none

feat: Document steps for installing Nightly builds + add to issue template
  .gitlab/issue_templates/default.md
  docs/FAQ.md
Due: none

fix: Ensure we prevent Mozilla's DoH remote config/rollout (+ remove unused/unwanted assets)
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Create RS Blocker for Application Services
  patches/a-s-rs-blocker.patch
  scripts/a-s-patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Create search configuration for Mozilla's newer Remote Settings implementation
  patches/a-s-configure-default-search-engines.patch
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/28e347e4-0188-48e4-8d45-45618c985b53
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/28e347e4-0188-48e4-8d45-45618c985b53.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/6e36a151-e4f4-4117-9067-1ca82c47d01a
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/6e36a151-e4f4-4117-9067-1ca82c47d01a.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/7cd086c7-43f6-42fe-a240-17deeeef034b
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/7cd086c7-43f6-42fe-a240-17deeeef034b.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/a06dc3fd-4bdb-41f3-2ebc-4cbed06a9bd3
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/a06dc3fd-4bdb-41f3-2ebc-4cbed06a9bd3.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/be7ba9bc-d68f-4ba3-ad3b-4fc0aaea5f3c
  patches/a-s-overlay/components/remote_settings/dumps/main/attachments/search-config-icons/be7ba9bc-d68f-4ba3-ad3b-4fc0aaea5f3c.meta.json
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-icons.json
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-v2.json
  scripts/a-s-patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-uk/ironfox_strings.xml
Due: build-apk, build-bundle

feat: Prevent initializing Nimbus tooling + update the A-S no-op patch
  patches/a-s-noop-nimbus.patch
  patches/fenix-disable-nimbus.patch
  patches/fenix-remove-glean.patch
Due: build-apk, build-bundle

fix: Remove `StartupCrashActivity` from the Android Manifest
  patches/fenix-disable-crash-reporting.patch
Due: build-apk, build-bundle

feat: Update FPP overrides
  patches/gecko-overlay/services/settings/dumps/main/ironfox-fingerprinting-protection-overrides-harden.json
  patches/gecko-overlay/services/settings/dumps/main/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
  patches/gecko-overlay/services/settings/dumps/main/ironfox-fingerprinting-protection-overrides-unbreak.json
Due: build-apk, build-bundle

feat: Document setting to enable JIT only for extensions on FAQ
  docs/FAQ.md
Due: none

WIP: v144.0.1
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Switch toggle to enable WebGL to a toggle to *disable* WebGL
  patches/a-c-ironfox-settings.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/res/values-bg/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-es/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-hi/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-nl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-uk/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-zh-rCN/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/gecko-ironfox-settings.patch
  patches/geckoview-ironfox-settings.patch
Due: build-apk, build-bundle

v144.0.1
  scripts/versions.sh
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
