Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

update-site-repo:
  image: fedora:42
  stage: build_site
  tags:
  - saas-linux-2xlarge-amd64
  variables:
    PRODUCTION_BRANCH: main
    SB_GAPI_KEY_FILE: /opt/IronFox/sb-gapi.data
    KEYSTORE: /opt/IronFox/signing-key.jks
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.cache/gradle
    CARGO_HOME: $CI_PROJECT_DIR/.cache/cargo
  ...

build-apk:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

build-bundle:
  before_script:
  - mkdir -p "$GRADLE_USER_HOME"
  - mkdir -p "$CARGO_HOME"
  - mkdir -p /opt/IronFox
  - echo "$SB_GAPI_KEY" > "$SB_GAPI_KEY_FILE"
  ...

fix: Use patches for certain changes (instead of `sed`/the `prebuild` script)
  patches/fenix-disable-telemetry.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: `ci-build.sh`
  scripts/ci-build.sh
Due: build-apk, build-bundle

feat: Add support for building IronFox on macOS
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove duplicate `gecko-ironfox-settings-support-timezone-spoofing` patch
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

v143.0.2
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ApplicationExitInfoMetrics.kt
Due: build-apk, build-bundle

fix: Prevent the setting to enable/disable installation of add-ons from disabling already installed add-ons - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/187
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

feat: Add pref to enable/disable timezone spoofing
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: `gecko-ironfox-settings-support-xpinstall.patch`
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

feat: Add UI toggles to enable/disabe timezone spoofing and our timezone spoofing overrides
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
Due: build-apk, build-bundle

fix: `glean-noop.patch`
  patches/glean-noop.patch
Due: build-apk, build-bundle

fix: Do not reset `devtools.debugger.remote-enabled` on dev builds
  scripts/prebuild.sh
Due: build-apk, build-bundle

Revert wrong change
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

Removed Mullvad Leta mentions
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

feat: IronFox mozconfigs
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: path for GeckoSettingsBridge
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: consolidate patches to hide/add certain UI preferences
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: order
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: source `env_local.sh` from `ci-build.sh`
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: ensure we source `env_local.sh` earlier at `ci-build.sh`
  scripts/ci-build.sh
Due: build-apk, build-bundle

fix: minor syntax/formatting for GeckoSettingsBridge EME note
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
Due: build-apk, build-bundle

feat: Update `Features` page
  docs/Features.md
Due: none

feat: Update FAQ to explain our included built-in extensions and address our position on generative AI
  docs/FAQ.md
Due: none

fix: Remove duplicate strings from `prebuild.sh` (+ minor tweaks to sed commands for URLs at `SupportUtils`)
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Set "Help" menu item to link to our FAQ (instead of Mozilla's standard support page)
  patches/fenix-ironfox-branding.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Further clarify purpose of built-in `Mozilla Android Components - Firefox Accounts WebChannel` extension on FAQ
  docs/FAQ.md
Due: none

feat: Check uBlock Origin's download URL (in addition to the ID, like we already do) for determining whether to allow it to access private browsing mode by default
  patches/a-c-allow-ubo-in-private-browsing-by-default.patch
Due: build-apk, build-bundle

feat: Add additional checks to verify that uBlock Origin is legitimate before installing it from the onboarding
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxAddons.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferencesPage.kt
Due: build-apk, build-bundle

fix: IronFoxPreferences annotations
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
Due: build-apk, build-bundle

feat: Create a separate "GeckoSettingsDictionary" object for storing/mapping Gecko preferences
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsDictionary.kt
Due: build-apk, build-bundle

feat: Create a separate "IronFoxConstants" object - and currently use it for checking the release channel
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxConstants.kt
Due: build-apk, build-bundle

feat: Create a separate "IronFoxSettings" class for our custom UI settings
  patches/fenix-hide-eme.patch
  patches/fenix-ironfox-onboarding.patch
  patches/fenix-ironfox-settings-support-accessibility-services.patch
  patches/fenix-ironfox-settings-support-pb-always.patch
  patches/fenix-ironfox-settings-support-translations.patch
  patches/fenix-ironfox-settings-support-xpinstall.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-ironfox-ui.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxSettings.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
  patches/fenix-unifiedpush.patch
Due: build-apk, build-bundle

fix: Prevent the browser from appending URL tracking parameters to certain Mozilla support links
  patches/gecko-remove-url-tracking-params.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Replace Mozilla support URL at `about:support` with a link to our FAQ
  patches/gecko-ironfox-branding.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Use `IronFoxPreferences` for checking the autoplay blocking policy, cross-origin referer policy, and preferred website appearance at `GeckoSettingsBridge`
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
Due: build-apk, build-bundle

fix: Include IronFox settings in the new Settings search feature
  patches/fenix-ironfox-settings-search.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Use our own `IronFoxPoliciesProvider` for applying enterprise policies
  patches/gecko-overlay/ironfox/components/IronFoxPoliciesProvider.sys.mjs
  patches/gecko-overlay/ironfox/components/moz.build
  patches/gecko-overlay/ironfox/moz.build
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

fix: Allow `gamesfashionarchive.net` to use WebGL by default - fixes https://codeberg.org/celenity/Phoenix/issues/217
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
Due: build-apk, build-bundle

feat: Update to Phoenix 2025.12.23.1 - https://codeberg.org/celenity/Phoenix/releases/tag/2025.12.23.1
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
  patches/gecko-overlay/ironfox/prefs/pdf.js
  scripts/prebuild.sh
  scripts/versions.sh
Due: build-apk, build-bundle

feat: add OLED theme support
  patches/fenix-ironfox-oled-theme.patch
  patches/fenix-overlay/app/src/main/res/values/ironfox_attrs.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_colors.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values/ironfox_styles.xml
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Update `glean-noop.patch` to further no-op the Glean Kotlin library and reduce unwanted classes
  patches/glean-noop.patch
Due: build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
