Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-aar, build-final

update-site-repo:
  image: fedora:43
  stage: build_site
  tags:
  - saas-linux-2xlarge-amd64
  variables:
    PRODUCTION_BRANCH: main
    IRONFOX_SB_GAPI_KEY_FILE: /opt/IronFox/ironfox-sb-gapi.data
    IRONFOX_KEYSTORE: /opt/IronFox/ironfox-keystore.jks
    IRONFOX_KEYSTORE_KEY_PASS_FILE: /opt/IronFox/ironfox-signing-key.pass
  ...

build-aar:
  before_script:
  - mkdir -p /opt/IronFox
  - echo "${IRONFOX_SB_GAPI_KEY}" > "${IRONFOX_SB_GAPI_KEY_FILE}"
  - echo "${IRONFOX_KEYSTORE_KEY_PASS}" > "${IRONFOX_KEYSTORE_KEY_PASS_FILE}"
  - echo "${IRONFOX_KEYSTORE_PASS}" > "${IRONFOX_KEYSTORE_PASS_FILE}"
  ...

build-final:
  before_script:
  - mkdir -p /opt/IronFox
  - echo "${IRONFOX_SB_GAPI_KEY}" > "${IRONFOX_SB_GAPI_KEY_FILE}"
  - echo "${IRONFOX_KEYSTORE_KEY_PASS}" > "${IRONFOX_KEYSTORE_KEY_PASS_FILE}"
  - echo "${IRONFOX_KEYSTORE_PASS}" > "${IRONFOX_KEYSTORE_PASS_FILE}"
  ...

fix - CI: perform `build_fdroid` + `build_site` last
  .gitlab-ci.yml
Due: build-aar, build-final

fix - CI: ensure we get secrets for S3 releases for the `prepare-release` job
  scripts/ci-prepare-release.sh
Due: build-aar, build-final

fix - CI: manually trigger site update
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - CI: manually trigger site update
  .gitlab-ci.yml
Due: build-aar, build-final

fix - CI: revert manual trigger of site update
  .gitlab-ci.yml
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - CI: IRONFOX_CI
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix - CI: upload `aab` output for bundles (at least for now) - should allow for closer examination to figure out what is resulting in the recent size increase
  scripts/ci-upload-artifacts-if.sh
Due: build-aar, build-final

fix - CI: set MIME type for `.aab`
  scripts/ci-upload-artifacts-if.sh
Due: build-aar, build-final

feat - CI: bump Fedora to `44`
  .gitlab-ci.yml
  Dockerfile
Due: build-aar, build-final

feat - CI: Publish GitLab releases directly via `curl` (from `ci-publish-packages.sh`) instead of relying on GitLab-specific CI images/logic
  .gitlab-ci.yml
  scripts/ci-publish-packages.sh
  scripts/ci-publish-release.sh
Due: build-aar, build-final

fix: remove unnecessary `BUILD_BACKENDS` from the `bundle` mozconfig
  configs/mozconfigs/targets/bundle.mozconfig
Due: none

fix: enable legacy packaging unconditionally - reduces the size of APKsets from ~2 GB back to ~1 GB
  patches/fenix-enable-legacy-packaging.patch
  scripts/patches.yaml
  scripts/sign.sh
Due: update-site-repo, build-aar, build-final

154.0.0.1
  scripts/versions.sh
Due: build-aar, build-final

154.0.0.1 - Changelog
  CHANGELOG.md
Due: none

fix - CI: artifact paths for `ci-publish-packages.sh`
  scripts/ci-publish-packages.sh
Due: build-aar, build-final

fix - CI: revert manual trigger of site update
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - CI: manually trigger site update
  .gitlab-ci.yml
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

fix - CI: revert manual trigger of site update (+ set `update-site-repo` to also run on changes to `CHANGELOG.md`)
  .gitlab-ci.yml
  scripts/ci-update-site.sh
Due: update-site-repo, build-aar, build-final

feat - CI: Move common S3 function definitions to `s3-utilities.sh` - eliminates redundancy and allows us to re-use these functions across scripts
  scripts/ci-publish-packages.sh
  scripts/ci-upload-artifacts-if.sh
  scripts/env_common.sh
  scripts/s3-utilities.sh
Due: build-aar, build-final

feat: add `set_verbosity` function to `utilities.sh`
  scripts/bootstrap.sh
  scripts/build-if.sh
  scripts/ci-build.sh
  scripts/ci-compress.sh
  scripts/ci-download-artifacts-if.sh
  scripts/ci-publish-release.sh
  scripts/ci-update-fdroid-repo.sh
  scripts/ci-update-site-repo.sh
  scripts/deglean.sh
  scripts/get_sources-if.sh
  scripts/lint.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/patches.sh
  scripts/prebuild-if.sh
  scripts/utilities.sh
Due: build-aar, build-final

fix: use `set_verbosity` at `patch_create.sh`
  scripts/patch_create.sh
Due: build-aar, build-final

fix - CI: set +x directly within the S3 `push_file` function
  scripts/s3-utilities.sh
Due: build-aar, build-final

fix: use `set_verbosity` at `lint-hook.sh`
  scripts/lint-hook.sh
Due: build-aar, build-final

fix: set `--mode='universal'` for APKsets - this appears to significantly reduce size and works around a bug with Accrescent's developer console (https://github.com/accrescent/parcelo/issues/804)
  scripts/sign.sh
Due: build-aar, build-final

fix - move logic for installing IronFox via ADB from `sign.sh` to `build.sh`
  scripts/build.sh
  scripts/sign.sh
Due: build-aar, build-final

fix: set default outputs path to `/outputs` (instead of `/build/outputs`)
  .gitignore
  scripts/env_common.sh
Due: build-aar, build-final

fix: `IRONFOX_CI` logic for `ci-compress.sh`
  scripts/ci-compress.sh
Due: build-aar, build-final

fix: remove `IRONFOX_DEFAULT_UBO_ASSETS_URL` constant - unnecessary since this is only used within `ironfox.cfg`, so we can just set it directly from that file instead
  configs/phoenix/ironfox.cfg
  configs/phoenix/phoenix-overrides.cfg
  patches/gecko-overlay/ironfox/android/core/build.gradle
  patches/gecko-overlay/ironfox/core/IFConstants.sys.mjs
  patches/gecko-overlay/ironfox/ironfox.configure
  patches/gecko-overlay/ironfox/prefs/ironfox.js
Due: build-aar, build-final

fix: remove remaining instance of `IRONFOX_DEFAULT_UBO_ASSETS_URL`
  patches/gecko-overlay/ironfox/android/core/src/main/java/org/ironfoxoss/core/IFConstants.kt
Due: build-aar, build-final

feat: bump Rust to `1.98.0`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump JDK 25 to `25.0.4.1+1`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump JDK 21 to `21.0.12.1+1`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump JDK 17 to `17.0.20.1+1`
  scripts/versions.sh
Due: build-aar, build-final

feat: bump nvm to `v0.40.7`
  scripts/versions.sh
Due: build-aar, build-final

WIP: 154.0.1
  scripts/versions.sh
Due: build-aar, build-final

fix: revert Rust back to `1.97.1` for now
  scripts/versions.sh
Due: build-aar, build-final

154.0.1
  CHANGELOG.md
  scripts/versions.sh
Due: build-aar, build-final

feat: overhaul/refine scripts
  scripts/bootstrap.sh
  scripts/build-if.sh
  scripts/build.sh
  scripts/ci-build.sh
  scripts/ci-compress.sh
  scripts/ci-download-artifacts-if.sh
  scripts/ci-download-artifacts.sh
  scripts/ci-prep.sh
  scripts/ci-publish-packages.sh
  scripts/ci-publish-release.sh
  scripts/ci-update-fdroid-repo.sh
  scripts/ci-update-fdroid.sh
  scripts/ci-update-site-repo.sh
  scripts/ci-update-site.sh
  scripts/ci-upload-artifacts-if.sh
  scripts/ci-upload-artifacts.sh
  scripts/deglean.sh
  scripts/download-utilities.sh
  scripts/env.sh
  scripts/env_common.sh
  scripts/file-utilities.sh
  scripts/get_sources-if.sh
  scripts/get_sources.sh
  scripts/lint-hook.sh
  scripts/lint.sh
  scripts/noop_mozilla_endpoints.sh
  scripts/patch_create.sh
  scripts/patches.sh
  scripts/prebuild-if.sh
  scripts/prebuild.sh
  scripts/s3-utilities.sh
  scripts/sign.sh
  scripts/utilities.sh
  scripts/versions.sh
Due: update-site-repo, build-aar, build-final

fix: typo
  scripts/ci-download-artifacts-if.sh
Due: build-aar, build-final

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-aar: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-final: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
