Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

v143.0.2
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ApplicationExitInfoMetrics.kt
Due: build-apk, build-bundle

fix: Hide the Contile UI toggle with the showHomepageTopSitesSectionToggle setting directly
  patches/fenix-disable-contile.patch
Due: build-apk, build-bundle

feat: Remove the Mozilla Ad Routing Service (MARS) library
  patches/a-c-remove-mars.patch
  patches/fenix-remove-mars.patch
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

feat: Update Bundletool to 1.18.2 - https://github.com/google/bundletool/releases/tag/1.18.2
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Stop overriding certain prefs at GeckoRuntimeSettings
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Clean-up `deglean.sh` and `fenix-remove-glean.patach`
  patches/fenix-remove-glean.patch
  scripts/deglean.sh
Due: build-apk, build-bundle

fix: Remove now-unnecessary MARS patch from `a-c-localize-maven.patch`
  patches/a-c-localize-maven.patch
Due: build-apk, build-bundle

fix: Remove sed commands targetting the MARS service library (unnecessary since we now remove that library entirely)
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Clean-up `fenix-disable-contile.patch`
  patches/fenix-disable-contile.patch
Due: build-apk, build-bundle

fix: Clean-up patches (and split changes to disable ToS/privacy policy to a separate patch for better organization)
  patches/fenix-branding.patch
  patches/fenix-disable-auto-pinning-recently-visited-sites-to-home.patch
  patches/fenix-disable-firefox-suggest.patch
  patches/fenix-disable-nags.patch
  patches/fenix-expose-secret-settings.patch
  patches/fenix-ironfox-branding.patch
  patches/fenix-ironfox-home.patch
  patches/fenix-remove-tos-privacy-policy.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Clean-up additional patches
  patches/fenix-configure-doh.patch
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-nimbus.patch
  patches/fenix-disable-telemetry.patch
  patches/fenix-remove-glean.patch
Due: build-apk, build-bundle

fix: Update formatting for FAQ
  docs/FAQ.md
Due: none

fix: Clarify DRM FAQ entry
  docs/FAQ.md
Due: none

fix: Remove `fenix-disable-shipped-domains.patch` - no longer necessary (Since this is now disabled by default at `nimbus.fml.yaml`)
  patches/fenix-disable-shipped-domains.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Name of `microg-unbreak-fido.patch` on `prebuild.sh`
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Temporarily patch microG to unbreak builds with the FIDO library until getCredProps is implemented (credit to Fennec F-Droid <3) - https://github.com/microg/GmsCore/issues/3054
  README.md
  patches/geckoview-unbreak-fido.patch
  patches/microg-unbreak-fido.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Add FAQ entries to address whether we include proprietary/tracking libraries (Spoiler alert: We don't) and whether we depend on Google Play Services (Another spoiler alert: We don't)
  docs/FAQ.md
Due: none

feat: Ensure we always prioritize Credential Manager over GMS/microG on supported Android devices
  patches/geckoview-prioritize-cred-manager-over-gms.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Clean-up/update additional patches
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-disable-telemetry.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesTelemetryMiddleware.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/AppStartReasonProvider.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/ColdStartupDurationTelemetry.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/StartupTypeTelemetry.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/perf/StorageStatsMetrics.kt
  patches/fenix-remove-glean.patch
  scripts/deglean.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Branding
  patches/gecko-overlay/toolkit/content/attribution.css
  patches/gecko-overlay/toolkit/content/attribution.html
  patches/gecko-overlay/toolkit/content/ironfox.css
  patches/gecko-overlay/toolkit/content/ironfox.html
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove `geckoview-unbreak-fido.patch` from `patches.yaml`
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Display built-in add-ons at the Extensions fragment
  patches/a-c-display-builtin-addons.patch
  patches/fenix-hide-remove-and-pb-for-builtin-addons.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Expose `about:translations` at `about:about`
  patches/gecko-expose-abouttranslations.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Implement enterprise policies
  patches/gecko-support-policies.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Do not unconditionally allow built-in add-ons to access private browsing windows
  patches/a-c-do-not-unconditionally-allow-builtin-addons-to-access-private-browsing.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Implement enterprise policies (Part 2)
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Remove privileged add-on signing status from external Mozilla add-ons
  patches/gecko-remove-privileged-addon-signing-status.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Disable legacy same site cookie behavior by default via policies
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

fix: Implement enterprise policies
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Update/improve feature to enable/disable installation of add-ons (thanks to enterprise policies...)
  patches/fenix-ironfox-settings-support-xpinstall.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/res/values/ironfox_strings.xml
  patches/gecko-ironfox-settings-support-xpinstall.patch
  patches/gecko-support-policies.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Limit allowed add-on install types to "extension" via policies
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-de/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-es/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-fr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-nl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
Due: build-apk, build-bundle

v143.0.3
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Remove duplicate UniFFi download from get_sources.sh
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Remove duplicate sed items from `prebuild.sh`
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Update `glean-noop.patch` to further no-op the Glean Kotlin library and reduce unwanted classes
  patches/glean-noop.patch
Due: build-apk, build-bundle

fix: Remove `glean-native` (+ other minor tweaks to Glean/telemetry)
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
Due: build-apk, build-bundle

fix: add back glean-native for now
  patches/glean-remove-example-dependencies.patch
  patches/glean-remove-native-and-example-dependencies.patch
  patches/glean-unbreak-geckoview-lite.patch
Due: build-apk, build-bundle
