Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

fix: `gecko-ironfox-settings-support-xpinstall.patch`
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

feat: Add pref to enable/disable timezone spoofing
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

Removed Mullvad Leta mentions
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

Revert wrong change
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

fix: `glean-noop.patch`
  patches/glean-noop.patch
Due: build-apk, build-bundle

feat: Update CI + README instructions to Fedora 43
  .gitlab-ci.yml
  Dockerfile
  README.md
Due: build-apk, build-bundle

fix: Enable WebGL for `mapple.com` + `neal.fun` by default - https://codeberg.org/celenity/BadBlock/issues/102 + https://codeberg.org/celenity/BadBlock/issues/103
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak-webgl.json
Due: build-apk, build-bundle

fix: Ensure `mapple.com` can extract randomized canvas data in first-party contexts by default - fixes display issues
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak.json
Due: build-apk, build-bundle

fix: Use the `browser/enterprisepolicies` component directly, instead of unnecessarily modifying and copying it first
  patches/gecko-overlay/ironfox/enterprisepolicies/jar.mn
  patches/gecko-overlay/ironfox/enterprisepolicies/locales/jar.mn
  patches/gecko-overlay/ironfox/enterprisepolicies/locales/moz.build
  patches/gecko-overlay/ironfox/enterprisepolicies/moz.build
  patches/gecko-overlay/ironfox/locales/moz.build
  patches/gecko-overlay/ironfox/moz.build
  patches/gecko-support-policies.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Use a separate `ironfox` chrome manifest for IronFox-specific Gecko assets
  patches/gecko-overlay/ironfox/about/attribution.html
  patches/gecko-overlay/ironfox/about/ironfox.html
  patches/gecko-overlay/ironfox/about/jar.mn
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Implement `IronFoxAboutPages` Gecko module
  patches/gecko-overlay/ironfox/about/IronFoxAboutPages.sys.mjs
  patches/gecko-overlay/ironfox/about/attribution/attribution.css
  patches/gecko-overlay/ironfox/about/attribution/attribution.html
  patches/gecko-overlay/ironfox/about/browser/jar.mn
  patches/gecko-overlay/ironfox/about/browser/locales/jar.mn
  patches/gecko-overlay/ironfox/about/browser/locales/moz.build
  patches/gecko-overlay/ironfox/about/browser/moz.build
  patches/gecko-overlay/ironfox/about/browser/robots/jar.mn
  patches/gecko-overlay/ironfox/about/browser/robots/moz.build
  patches/gecko-overlay/ironfox/about/components.conf
  patches/gecko-overlay/ironfox/about/ironfox/ironfox.css
  patches/gecko-overlay/ironfox/about/ironfox/ironfox.html
  patches/gecko-overlay/ironfox/about/jar.mn
  patches/gecko-overlay/ironfox/about/moz.build
  patches/gecko-overlay/ironfox/enterprisepolicies/jar.mn
  patches/gecko-overlay/ironfox/enterprisepolicies/moz.build
  patches/gecko-support-policies.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: location for browser `about:` files
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Use `fenix-overlay` for IronFox-specific Android components, instead of creating them with patches
  patches/fenix-ironfox-onboarding.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/NoopCrashService.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxAddons.kt
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/IronFoxPreferences.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferenceDohOnboardingPage.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/onboarding/view/IronFoxPreferencesPage.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
  patches/fenix-overlay/app/src/main/res/xml/ironfox_preferences.xml
Due: build-apk, build-bundle

fix: minor formatting
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/settings/IronFoxSettingsFragment.kt
Due: build-apk, build-bundle

fix: `fenix-disable-crash-reporting.patch`
  patches/fenix-disable-crash-reporting.patch
Due: build-apk, build-bundle

fix: Update PDF.js prefs (from Phoenix)
  patches/gecko-overlay/ironfox/prefs/pdf.js
Due: build-apk, build-bundle

fix: typo
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
Due: build-apk, build-bundle

fix: Do not reset `devtools.debugger.remote-enabled` on dev builds
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: path for GeckoSettingsBridge
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: IronFox mozconfigs
  patches/gecko-overlay/ironfox/mozconfigs/branding/common.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/branding/env.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/branding/ironfox-nightly.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/branding/ironfox.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/env.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-x64_64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-x64_64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/arm.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/arm64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/bundle.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/targets/x86_64.mozconfig
  patches/gecko-overlay/mozconfig
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: typo...
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-nightly-x86_64.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/ironfox-release-x86_64.mozconfig
Due: build-apk, build-bundle

feat: Set defines for IronFox and IronFox release, + set a Gecko pref once the onboarding is complete
  patches/fenix-ironfox-onboarding.patch
  patches/fenix-ironfox-settings.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/utils/GeckoSettingsBridge.kt
  patches/fenix-overlay/app/src/main/res/values/ironfox_preference_keys.xml
  patches/gecko-enable-aboutinference.patch
  patches/gecko-enable-abouttranslations.patch
  patches/gecko-ironfox-settings-support-xpinstall.patch
  patches/gecko-overlay/ironfox/ironfox.configure
  patches/gecko-overlay/ironfox/mozconfigs/branding/ironfox-nightly.mozconfig
  patches/gecko-overlay/ironfox/mozconfigs/branding/ironfox.mozconfig
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
  patches/gecko-support-addon-installation-without-mozaddonmanager.patch
  patches/gecko-support-policies.patch
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove no longer used `--disable-dtrace` build option
  patches/gecko-overlay/ironfox/mozconfigs/core.mozconfig
Due: build-apk, build-bundle

feat: Update cbindgen to `0.29.1`
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Update cbindgen to `0.29.2`
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Remove no longer necessary "gecko-fix-125-compile` patch + remove `PointerId` from our list of default FPP targets (as Firefox removed it upstream)
  patches/gecko-fix-125-compile.patch
  patches/gecko-overlay/toolkit/components/resistfingerprinting/RFPTargetsDefault.inc
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: 146.0
  patches/a-c-remove-error-support.patch
  patches/a-s-liberate.patch
  patches/a-s-remove-error-support.patch
  patches/fenix-liberate.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/PlayStoreReviewPromptController.kt
  scripts/a-s-patches.yaml
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

fix: Disable Mozilla's new "Unified Trust Panel" by default
  patches/fenix-disable-unified-trust-panel-by-default.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

feat: Enable Mozilla's new redesign for Private Browsing mode by default
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Remove Mozilla's CrashReporterService interface library
  docs/FAQ.md
  patches/a-c-disable-crash-reporting.patch
  patches/fenix-overlay/app/src/main/java/org/ironfoxoss/ironfox/NoopCrashService.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove Mozilla's CrashReporterService interface library (Part 2...)
  patches/a-c-disable-crash-reporting.patch
Due: build-apk, build-bundle

fix: Clean-up
  patches/fenix-disable-crash-reporting.patch
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdManager.kt
  patches/fenix-overlay/app/src/main/java/org/mozilla/fenix/messaging/CustomAttributeProvider.kt
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Remove Clear Key CDM
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: minor grammar
  docs/Network-Connections.md
  docs/Safe-Browsing.md
Due: none

feat: Document differences between Nightly and Release builds
  docs/FAQ.md
  docs/NightlyVsRelease.md
Due: none

feat: Update feature docs
  docs/Features.md
Due: none

fix: add link
  docs/Features.md
Due: none
