Repository ironfox-oss/IronFox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-site-repo, build-apk, build-bundle

Path conditions:
  update-site-repo: any of: scripts/a-s-patches.yaml, scripts/glean-patches.yaml, scripts/patches.yaml, scripts/ci-update-site.sh
  build-apk: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml
  build-bundle: any of: patches/**/*, scripts/**/*, Dockerfile, .gitlab-ci.yml

feat: Add pref to enable/disable timezone spoofing
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  patches/preferences/ironfox.js
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Prevent the setting to enable/disable installation of add-ons from disabling already installed add-ons - fixes https://gitlab.com/ironfox-oss/IronFox/-/issues/187
  patches/gecko-ironfox-settings-support-xpinstall.patch
Due: build-apk, build-bundle

feat: Add UI toggles to enable/disabe timezone spoofing and our timezone spoofing overrides
  patches/preferences/ironfox.js
Due: build-apk, build-bundle

fix: Remove duplicate `gecko-ironfox-settings-support-timezone-spoofing` patch
  patches/gecko-ironfox-settings-support-timezone-spoofing.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Remove duplicate UniFFi download from get_sources.sh
  scripts/get_sources.sh
Due: build-apk, build-bundle

Translations update from Hosted Weblate
  patches/fenix-overlay/app/src/main/res/values-bg/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-cs/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-es/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-et/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-nl/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-pt-rBR/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-ru/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-tr/ironfox_strings.xml
  patches/fenix-overlay/app/src/main/res/values-uk/ironfox_strings.xml
Due: build-apk, build-bundle

fix: Install `requests` for F-Droid's Python gradle script
  Dockerfile
Due: build-apk, build-bundle

fix: requests
  Dockerfile
Due: build-apk, build-bundle

fix: Remove DNS0 from the default DoH providers - service is no longer operated :(
  docs/Features.md
  docs/Network-Connections.md
  patches/fenix-configure-doh.patch
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Remove unwanted/unused Nimbus classes from Application Services's proguard config
  patches/a-s-noop-nimbus.patch
Due: build-apk, build-bundle

fix: spacing
  patches/preferences/pdf.js
Due: build-apk, build-bundle

fix: Move `ironfox.configure` to the `ironfox` directory
  patches/gecko-overlay/ironfox/ironfox.configure
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Minor formatting fix for consistency
  patches/gecko-overlay/ironfox/branding/ironfox-nightly/configure.sh
  patches/gecko-overlay/ironfox/branding/ironfox/configure.sh
Due: build-apk, build-bundle

fix: Move locales for `about:policies` to the `ironfox` directory
  patches/gecko-overlay/ironfox/moz.build
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Move locales for `about:policies` to the `ironfox` directory (part 2)
  patches/gecko-overlay/mobile/locales/jar.mn
Due: build-apk, build-bundle

fix: Move locales for `about:policies` to the `ironfox` directory (part 3...)
  patches/gecko-overlay/ironfox/locales/jar.mn
  patches/gecko-overlay/ironfox/locales/moz.build
Due: build-apk, build-bundle

feat: Create base local.properties/mozconfig files (that are then, once copied to gecko, modified by `prebuild.sh` depending on the user's configuration)
  patches/a-s-overlay/local.properties
  patches/fenix-overlay/local.properties
  patches/gecko-overlay/local.properties
  patches/gecko-overlay/mozconfig
  patches/glean-overlay/local.properties
  patches/preferences/ironfox.js
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Set tag for Application Services instead of branch
  scripts/get_sources.sh
  scripts/versions.sh
Due: build-apk, build-bundle

feat: Leverage more of Mozilla's existing/officially supported workflows for auto publication/substitution of dependencies/maven localization
  patches/a-c-enable-geckoview-substitution.patch
  patches/a-s-overlay/local.properties
  patches/gecko-enable-geckoview-substitution.patch
  patches/gecko-overlay/local.properties
  scripts/patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

feat: Set certain Gradle flags/arguments
  patches/gecko-overlay/mozconfig
  scripts/build.sh
Due: build-apk, build-bundle

fix: Move prefs to the `ironfox` directory
  .gitignore
  patches/gecko-overlay/ironfox/moz.build
  patches/gecko-overlay/ironfox/prefs/002-ironfox.js
  patches/gecko-overlay/ironfox/prefs/moz.build
  patches/gecko-overlay/ironfox/prefs/pdf.js
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Move prefs to the `ironfox` directory (part 2...)
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Set build URL/revision - displayed at ex. `about:buildconfig`
  patches/gecko-overlay/mozconfig
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: glean `io.gitlab.arturbosch.detekt` plug-in
  scripts/build.sh
Due: build-apk, build-bundle

fix: Do not enforce TLS v1.3 in gecko's gradle flags for now
  patches/gecko-overlay/mozconfig
Due: build-apk, build-bundle

fix: Do not enforce TLS v1.3 for Mozilla's gradle projects for now
  scripts/build.sh
Due: build-apk, build-bundle

fix: do not add `target` to mozconfig for bundle builds
  patches/gecko-overlay/mozconfig
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix: Do not use Mozilla's GeckoView auto-publication workflow for now, due to quirks with bundles/AARs
  patches/a-c-enable-geckoview-substitution.patch
  patches/gecko-enable-geckoview-substitution.patch
  patches/gecko-overlay/local.properties
  scripts/patches.yaml
Due: update-site-repo, build-apk, build-bundle

fix: Use clang 20 for the (macOS) prebuilt WASI SDK
  patches/gecko-unbreak-wasi-sdk-20-clang.patch
  scripts/build.sh
  scripts/get_sources.sh
  scripts/patches.yaml
  scripts/prebuild.sh
  scripts/versions.sh
Due: update-site-repo, build-apk, build-bundle

fix: Use `gtar` instead of `tar` for `get_sources.sh` on macOS
  README.md
  scripts/get_sources.sh
Due: build-apk, build-bundle

fix: Add support for Tor Browser's uniffi-bindgen on macOS
  patches/glean-noop-uniffi.patch
  patches/glean-noop.patch
  scripts/build.sh
  scripts/get_sources.sh
  scripts/prebuild.sh
Due: build-apk, build-bundle

feat: Remove the Mozilla Ads Client library from Application Services
  patches/a-s-remove-mac.patch
  scripts/a-s-patches.yaml
  scripts/prebuild.sh
Due: update-site-repo, build-apk, build-bundle

fix: typo
  scripts/prebuild.sh
Due: build-apk, build-bundle

fix(builder): application-services is published with wrong version
  builder/src/steps/build/__init__.py
Due: none

fix(builder): geckoview singleVariant is not updated to release
  builder/src/steps/prepare/firefox.py
Due: none

feat: Download prebuilds for WASI SDK and uniffi-bindgen (macOS) from our own separate "prebuilds" repo
  scripts/get_sources.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Update locations for WASI SDK and uniffi-bindgen prebuilds to our new prebuilds repo
  scripts/get_sources.sh
  scripts/versions.sh
Due: build-apk, build-bundle

fix: Allow `jspaint.app` + `piskelapp.com` to extract randomized canvas data in first party contexts - https://codeberg.org/celenity/Phoenix/issues/200
  patches/gecko-overlay/ironfox/dumps/ironfox-fingerprinting-protection-overrides-unbreak.json
Due: build-apk, build-bundle

Removed Mullvad Leta mentions
  docs/Features.md
  patches/a-c-configure-default-search-engines.patch
  patches/a-c-overlay/components/feature/search/src/main/assets/search/list.json
  patches/a-c-overlay/components/feature/search/src/main/assets/searchplugins/leta-brave.xml
  patches/a-c-overlay/components/feature/search/src/main/assets/searchplugins/leta-google.xml
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-icons.json
  patches/a-s-overlay/components/remote_settings/dumps/main/search-config-v2.json
  patches/gecko-support-policies.patch
Due: build-apk, build-bundle

Add forgotten references to Mullvad Leta icons
  patches/a-s-configure-default-search-engines.patch
Due: build-apk, build-bundle
